In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,3))
df = df.applymap(lambda x: round(x*10,0))

#np.random.randn(10,3)

df.iloc[3:5,0] = np.nan
df.iloc[4:6,1] = np.nan
df.iloc[5:8,2] = np.nan

df

      0     1     2
0  -8.0   3.0  -6.0
1  19.0   2.0  10.0
2  16.0  18.0 -27.0
3   NaN -10.0  -1.0
4   NaN   NaN   9.0
5  -5.0   NaN   NaN
6  14.0   7.0   NaN
7  -3.0  -3.0   NaN
8  12.0  17.0  10.0
9   1.0  -3.0  -8.0

In [34]:
from sklearn.decomposition import PCA

file_name = r'C:\ds\sdsj\check_8_c\train.csv'
df = pd.read_csv(file_name, nrows=10000, low_memory=False )
df_X = df.drop('target', axis=1)
number_columns = [
    col_name
    for col_name in df_X.columns
    if col_name.startswith('number')
]
df_X = df_X[number_columns]
df_X.fillna(-1, inplace=True)

pca = PCA()
pca.fit_transform(df_X)
#expl_var[ expl_var > max()]

15525668350309.242

In [56]:
expl_var_ratio = pca.explained_variance_ratio_
i = 0
sum_ratio = 0
for x in expl_var_ratio:
    sum_ratio +=x
    i += 1
    if sum_ratio >.99:
        break
print(i)
np.sum(expl_var_ratio[:i])
len(pca.components_[0])
#expl_var = pca.explained_variance_
#max_expl_var = max(expl_var)
#expl_var[ expl_var > max_expl_var * 0.01]

24

753

In [17]:
from xgboost import XGBRegressor
model = XGBRegressor()
a = {'a':1, 'b':2}

import os
d = pd.DataFrame([a])
header = not os.path.isfile('metrics.csv')
d.to_csv('metrics.csv', mode='a', index=False,header=header )


"""
from sklearn.linear_model import LogisticRegression
r = LogisticRegression()
r.predict()
"""

'\nfrom sklearn.linear_model import LogisticRegression\nr = LogisticRegression()\nr.predict()\n'

In [26]:
import os
file_name = r'C:\ds\sdsj\check_8_c\train.csv'
file_size = os.path.getsize(file_name)

"""
df = pd.read_csv(file_name, nrows=1 )
df.to_csv('test_row_size.csv', header=False)
row_size = os.path.getsize('test_row_size.csv')
print('rows estimation', file_size/row_size)

usecols=['number_0','wefwefwewe']
usecols = df.columns & usecols
print(usecols)
"""

#df = pd.read_csv(file_name, usecols=usecols, nrows=1000 )
df = pd.read_csv(file_name, nrows=1000 )
corr = df[ :df.shape[1] ].corr()
df_corr = pd.DataFrame( corr )

corr_cols = set()
for i in range(df_corr.shape[0]):
    row = df_corr.iloc[i]    
    print(row[row>0.95])
    #cols = row.filter(lambda x: abs(x) > 0.95)
#        if abs(v) > hyper_params_corr_limit and i != j:
#            corr_cols[corr.columns[j]] = True            

print(corr_cols)

#df = pd.read_csv(r'C:\ds\sdsj\check_8_c\train.csv', nrows=10 )
#df.shape
#round(1234,-2)

number_0      1.0
number_310    1.0
Name: number_0, dtype: float64
number_1    1.0
Name: number_1, dtype: float64
Series([], Name: number_2, dtype: float64)
number_3      1.000000
number_129    0.954368
number_130    0.964594
number_137    0.979737
number_429    1.000000
number_491    1.000000
Name: number_3, dtype: float64
target        1.0
number_310    1.0
Name: target, dtype: float64
number_4      1.0
number_310    1.0
Name: number_4, dtype: float64
number_5      1.000000
number_488    0.977204
number_489    0.977204
number_490    0.977204
number_491    1.000000
Name: number_5, dtype: float64
number_6      1.000000
number_7      0.951184
number_9      0.999020
number_10     0.953858
number_11     0.956493
number_227    1.000000
number_310    1.000000
number_491    1.000000
Name: number_6, dtype: float64
number_6      0.951184
number_7      1.000000
number_8      0.999933
number_9      0.950907
number_10     0.999950
number_11     0.999786
number_227    1.000000
number_310    1.000000
number_491    1.000000
Name: number_7, dtype: float64
number_7      0.999933
number_8      1.000000
number_10     0.999838
number_11     0.999658
number_227    1.000000
number_310    1.000000
number_491    1.000000
Name: number_8, dtype: float64
number_6      0.999020
number_7      0.950907
number_9      1.000000
number_10     0.953584
number_11     0.956222
number_227    1.000000
number_310    1.000000
number_491    1.000000
Name: number_9, dtype: float64
number_6      0.953858
number_7      0.999950
number_8      0.999838
number_9      0.953584
number_10     1.000000
number_11     0.999941
number_227    1.000000
number_310    1.000000
number_491    1.000000
Name: number_10, dtype: float64
number_6      0.956493
number_7      0.999786
number_8      0.999658
number_9      0.956222
number_10     0.999941
number_11     1.000000
number_227    1.000000
number_310    1.000000
number_491    1.000000
Name: number_11, dtype: float64
number_12     1.00000
number_22     1.00000
number_116    0.96258
number_227    1.00000
number_310    1.00000
number_429    1.00000
number_491    1.00000
Name: number_12, dtype: float64
number_13     1.0
number_491    1.0
Name: number_13, dtype: float64
number_14     1.000000
number_237    0.987129
Name: number_14, dtype: float64
number_15    1.0
Name: number_15, dtype: float64
number_16     1.000000
number_17     0.999631
number_432    0.999997
number_491    1.000000
Name: number_16, dtype: float64
number_16     0.999631
number_17     1.000000
number_432    0.999636
number_491    1.000000
Name: number_17, dtype: float64
number_18    1.0
Name: number_18, dtype: float64
number_19    1.0
Name: number_19, dtype: float64
number_20     1.0
number_429    1.0
Name: number_20, dtype: float64
number_21     1.000000
number_107    1.000000
number_139    1.000000
number_230    0.995878
Name: number_21, dtype: float64
number_12     1.00000
number_22     1.00000
number_116    0.96258
number_227    1.00000
number_310    1.00000
number_429    1.00000
number_491    1.00000
Name: number_22, dtype: float64
number_23     1.0
number_227    1.0
number_310    1.0
number_429    1.0
number_491    1.0
Name: number_23, dtype: float64
number_24    1.0
Name: number_24, dtype: float64
number_25     1.0
number_164    1.0
number_491    1.0
Name: number_25, dtype: float64
number_26    1.0
Name: number_26, dtype: float64
number_27     1.000000
number_310    1.000000
number_352    0.999688
number_429    1.000000
Name: number_27, dtype: float64
Series([], Name: number_28, dtype: float64)
Series([], Name: number_29, dtype: float64)
Series([], Name: number_30, dtype: float64)
number_31     1.000000
number_310    1.000000
number_354    0.964697
number_429    1.000000
Name: number_31, dtype: float64
number_32    1.0
number_34    1.0
Name: number_32, dtype: float64
number_33     1.0
number_110    1.0
Name: number_33, dtype: float64
number_32    1.0
number_34    1.0
Name: number_34, dtype: float64
number_35    1.0
Name: number_35, dtype: float64
number_36    1.0
Name: number_36, dtype: float64
number_37     1.000000
number_106    1.000000
number_318    0.965902
Name: number_37, dtype: float64
number_38    1.0
Name: number_38, dtype: float64
number_39     1.0
number_429    1.0
Name: number_39, dtype: float64
number_40    1.0
number_42    1.0
Name: number_40, dtype: float64
number_41    1.0
Name: number_41, dtype: float64
number_40    1.0
number_42    1.0
Name: number_42, dtype: float64
number_43    1.0
Name: number_43, dtype: float64
number_44     1.000000
number_45     0.956077
number_46     0.992781
number_429    1.000000
number_491    1.000000
Name: number_44, dtype: float64
number_44     0.956077
number_45     1.000000
number_278    0.992725
number_429    1.000000
number_491    1.000000
Name: number_45, dtype: float64
number_44     0.992781
number_46     1.000000
number_429    1.000000
number_491    1.000000
Name: number_46, dtype: float64
number_47     1.0
number_429    1.0
number_491    1.0
Name: number_47, dtype: float64
number_48     1.000000
number_49     1.000000
number_50     0.989549
number_227    1.000000
number_279    1.000000
number_429    1.000000
Name: number_48, dtype: float64
number_48     1.000000
number_49     1.000000
number_50     0.989549
number_227    1.000000
number_279    1.000000
number_429    1.000000
Name: number_49, dtype: float64
number_48     0.989549
number_49     0.989549
number_50     1.000000
number_227    1.000000
number_279    1.000000
number_429    1.000000
Name: number_50, dtype: float64
number_51     1.0
number_227    1.0
number_429    1.0
Name: number_51, dtype: float64
number_52     1.0
number_429    1.0
Name: number_52, dtype: float64
number_53     1.0
number_429    1.0
Name: number_53, dtype: float64
number_54     1.0
number_310    1.0
Name: number_54, dtype: float64
number_55     1.000000
number_310    1.000000
number_356    0.999945
number_429    1.000000
Name: number_55, dtype: float64
number_56     1.0
number_227    1.0
Name: number_56, dtype: float64
number_57     1.0
number_227    1.0
number_491    1.0
Name: number_57, dtype: float64
number_58    1.0
Name: number_58, dtype: float64
number_59     1.000000
number_227    1.000000
number_310    1.000000
number_358    0.999901
number_429    1.000000
number_491    1.000000
Name: number_59, dtype: float64
number_60    1.0
Name: number_60, dtype: float64
number_61     1.0
number_100    1.0
Name: number_61, dtype: float64
number_62    1.0
Name: number_62, dtype: float64
number_63     1.000000
number_227    1.000000
number_609    0.987433
number_610    0.972244
Name: number_63, dtype: float64
number_64     1.000000
number_129    0.985134
number_130    0.992278
number_491    1.000000
Name: number_64, dtype: float64
number_65     1.000000
number_129    1.000000
number_130    1.000000
number_139    0.962870
number_140    0.971271
number_491    1.000000
Name: number_65, dtype: float64
number_66     1.000000
number_129    0.985134
number_130    0.992278
Name: number_66, dtype: float64
number_67     1.000000
number_129    0.982653
number_130    0.990785
number_310    1.000000
number_362    0.999985
number_491    1.000000
Name: number_67, dtype: float64
number_68     1.000000
number_69     0.969404
number_70     0.963067
number_129    0.985134
number_130    0.992278
number_139    0.951827
number_140    0.992343
number_363    0.960214
Name: number_68, dtype: float64
number_68     0.969404
number_69     1.000000
number_129    1.000000
number_130    1.000000
number_139    0.994192
number_140    0.995910
number_307    1.000000
Name: number_69, dtype: float64
number_68     0.963067
number_70     1.000000
number_129    0.985134
number_130    0.992278
number_139    0.951827
number_140    0.992343
Name: number_70, dtype: float64
number_71     1.000000
number_129    0.982653
number_130    0.990785
number_139    0.951827
number_140    0.992343
number_310    1.000000
number_364    0.999999
Name: number_71, dtype: float64
number_72     1.00000
number_73     1.00000
number_322    0.97169
Name: number_72, dtype: float64
number_72     1.00000
number_73     1.00000
number_322    0.97169
Name: number_73, dtype: float64
number_74     1.0
number_310    1.0
Name: number_74, dtype: float64
number_75     1.000000
number_310    1.000000
number_322    0.971690
number_366    0.999994
Name: number_75, dtype: float64
Series([], Name: number_76, dtype: float64)
Series([], Name: number_77, dtype: float64)
Series([], Name: number_78, dtype: float64)
number_79     1.0
number_310    1.0
number_368    1.0
number_491    1.0
Name: number_79, dtype: float64
number_80    1.000000
number_81    0.955164
Name: number_80, dtype: float64
number_80    0.955164
number_81    1.000000
Name: number_81, dtype: float64
number_82    1.0
Name: number_82, dtype: float64
number_83     1.000000
number_310    1.000000
number_370    0.999987
Name: number_83, dtype: float64
number_84     1.00000
number_371    0.96958
Name: number_84, dtype: float64
number_85    1.0

Name: number_85, dtype: float64
number_86    1.0
Name: number_86, dtype: float64
number_87     1.000000
number_372    0.999997
Name: number_87, dtype: float64
number_88     1.000000
number_89     1.000000
number_91     0.989837
number_374    0.989773
Name: number_88, dtype: float64
number_88     1.000000
number_89     1.000000
number_91     0.996357
number_136    1.000000
number_374    0.996333
Name: number_89, dtype: float64
number_90    1.0
Name: number_90, dtype: float64
number_88     0.989837
number_89     0.996357
number_91     1.000000
number_310    1.000000
number_374    0.999997
Name: number_91, dtype: float64
number_92    1.0
Name: number_92, dtype: float64
number_93    1.0
Name: number_93, dtype: float64
number_94     1.000000
number_376    0.999344
number_429    1.000000
number_594    0.983965
number_595    0.955479
number_600    0.972091
number_603    0.999388
number_604    0.999444
number_605    0.999296
number_606    0.994401
number_607    0.975807
Name: number_94, dtype: float64
number_95     1.00000
number_227    1.00000
number_377    0.95943
number_429    1.00000
Name: number_95, dtype: float64
number_96     1.000000
number_97     0.951266
number_227    1.000000
number_310    1.000000
number_427    0.978726
number_715    0.953245
Name: number_96, dtype: float64
number_96     0.951266
number_97     1.000000
number_99     0.989735
number_429    1.000000
Name: number_97, dtype: float64
number_98     1.000000
number_102    0.999637
number_350    0.987844
number_429    1.000000
number_491    1.000000
Name: number_98, dtype: float64
number_97     0.989735
number_99     1.000000
number_125    0.950721
number_129    1.000000
number_318    1.000000
Name: number_99, dtype: float64
number_61     1.000000
number_100    1.000000
number_107    1.000000
number_119    0.960798
number_221    0.979940
number_223    0.973504
number_225    0.950887
number_255    1.000000
number_293    1.000000
number_295    1.000000
number_298    0.992880
number_299    0.984732
number_313    1.000000
Name: number_100, dtype: float64
number_101    1.000000
number_227    1.000000
number_310    1.000000
number_318    0.985152
Name: number_101, dtype: float64
number_98     0.999637
number_102    1.000000
number_243    1.000000
number_322    1.000000
Name: number_102, dtype: float64
number_103    1.000000
number_155    0.999593
number_223    1.000000
number_253    0.967799
number_260    1.000000
number_336    0.983809
number_340    1.000000
number_341    1.000000
Name: number_103, dtype: float64
number_104    1.000000
number_429    1.000000
number_431    0.998031
Name: number_104, dtype: float64
number_105    1.0
number_429    1.0
Name: number_105, dtype: float64
number_37     1.000000
number_106    1.000000
number_318    1.000000
number_477    0.998194
number_478    1.000000
Name: number_106, dtype: float64
number_21     1.00000
number_100    1.00000
number_107    1.00000
number_110    1.00000
number_135    0.99991
number_136    1.00000
number_139    1.00000
number_193    1.00000
number_242    1.00000
number_243    1.00000
Name: number_107, dtype: float64
number_108    1.000000
number_350    0.986969
number_429    1.000000
Name: number_108, dtype: float64
number_109    1.000000
number_193    0.970725
number_243    0.999976
number_318    1.000000
number_477    0.998194
number_478    1.000000
Name: number_109, dtype: float64
number_33     1.000000
number_107    1.000000
number_110    1.000000
number_187    0.989654
number_246    1.000000
number_247    1.000000
number_255    1.000000
number_530    0.955814
Name: number_110, dtype: float64
number_111    1.0
Name: number_111, dtype: float64
number_112    1.000000
number_248    0.999322
Name: number_112, dtype: float64
Series([], Name: number_113, dtype: float64)
Series([], Name: number_114, dtype: float64)
number_115    1.000000
number_223    1.000000
number_260    1.000000
number_336    0.983809
number_340    1.000000
number_341    1.000000
Name: number_115, dtype: float64
number_12     0.96258
number_22     0.96258
number_116    1.00000
number_227    1.00000
number_310    1.00000
number_429    1.00000
number_491    1.00000
Name: number_116, dtype: float64
number_117    1.000000
number_123    0.953185
number_227    1.000000
number_429    1.000000
Name: number_117, dtype: float64
number_118    1.000000
number_124    0.987595
number_182    0.979769
number_183    0.979769
number_190    0.960950
number_193    0.951119
number_194    0.964114
number_429    1.000000
Name: number_118, dtype: float64
number_100    0.960798
number_119    1.000000
number_237    0.997379
number_318    1.000000
number_429    1.000000
number_476    1.000000
number_477    1.000000
number_478    1.000000
number_479    1.000000
Name: number_119, dtype: float64
number_120    1.0
number_429    1.0
Name: number_120, dtype: float64
number_121    1.00000
number_215    1.00000
number_476    1.00000
number_477    1.00000
number_479    0.97811
Name: number_121, dtype: float64
number_122    1.000000
number_139    0.998990
number_318    0.999618
Name: number_122, dtype: float64
number_117    0.953185
number_123    1.000000
number_227    1.000000
number_310    1.000000
number_429    1.000000
Name: number_123, dtype: float64
number_118    0.987595
number_124    1.000000
number_182    0.987842
number_183    0.987842
number_190    0.971564
number_194    0.967348
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_491    1.000000
Name: number_124, dtype: float64
number_99     0.950721
number_125    1.000000
number_129    1.000000
number_130    1.000000
number_135    0.972601
number_301    0.994524
number_313    0.994524
number_332    0.967416
number_350    1.000000
number_458    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_125, dtype: float64
number_126    1.0
Name: number_126, dtype: float64
number_127    1.0
number_129    1.0
Name: number_127, dtype: float64
number_128    1.000000
number_129    1.000000
number_488    0.981981
number_489    0.981981
number_490    0.981981
Name: number_128, dtype: float64
number_3      0.954368
number_64     0.985134
number_65     1.000000
number_66     0.985134
number_67     0.982653
number_68     0.985134
number_69     1.000000
number_70     0.985134
number_71     0.982653
number_99     1.000000
number_125    1.000000
number_127    1.000000
number_128    1.000000
number_129    1.000000
number_130    0.987915
number_139    0.990248
number_140    0.981762
number_219    0.982991
number_220    0.999568
number_235    1.000000
number_238    1.000000
number_239    1.000000
number_259    1.000000
number_266    0.985134
number_276    1.000000
number_281    0.985134
number_282    1.000000
number_298    1.000000
number_300    0.985134
number_304    0.985134
                ...
number_381    1.000000
number_382    1.000000
number_387    1.000000
number_397    1.000000
number_398    1.000000
number_403    1.000000
number_436    0.985134
number_452    1.000000
number_454    1.000000
number_485    0.987768
number_492    0.985134
number_493    0.985134
number_494    0.985134
number_495    0.985134
number_496    0.985134
number_497    0.985134
number_505    0.981391
number_615    0.989549
number_616    0.980027
number_617    0.983680
number_618    0.963333
number_621    0.985103
number_622    0.957599
number_623    0.957599
number_624    0.985103
number_625    0.957599
number_626    0.957599
number_627    0.985103
number_628    0.957599
number_629    0.957599
Name: number_129, Length: 64, dtype: float64
number_3      0.964594
number_64     0.992278
number_65     1.000000
number_66     0.992278
number_67     0.990785
number_68     0.992278
number_69     1.000000
number_70     0.992278
number_71     0.990785
number_125    1.000000
number_129    0.987915
number_130    1.000000
number_139    0.965414
number_140    0.988981
number_219    0.951880
number_220    0.987829
number_235    1.000000
number_251    0.970028
number_266    0.992278
number_276    1.000000
number_281    0.992278
number_282    1.000000
number_298    1.000000
number_300    0.992278
number_304    0.992278
number_361    0.992278
number_362    0.990785
number_363    0.992278
number_364    0.990785
number_381    1.000000
number_382    1.000000
number_387    1.000000
number_397    1.000000
number_398    1.000000
number_403    1.000000
number_436    0.992278
number_452    1.000000
number_454    1.000000
number_485    0.998176
number_492    0.992278
number_493    0.992278
number_494    0.992278
number_495    0.992278
number_496    0.992278
number_497    0.992278
number_505    0.984441
number_506    0.950695
number_615    0.987703
number_616    0.971909
number_617    0.983759
number_621    0.965148
number_624    0.965148
number_627    0.965148
Name: number_130, dtype: float64
number_131    1.000000
number_133    0.960164
number_227    1.000000
number_429    1.000000
Name: number_131, dtype: float64
number_132    1.000000
number_134    0.999638
number_200    0.980453
number_201    0.980453
number_429    1.000000
Name: number_132, dtype: float64
number_131    0.960164
number_133    1.000000
number_227    1.000000
number_429    1.000000
Name: number_133, dtype: float64
number_132    0.999638
number_134    1.000000
number_200    0.980515
number_201    0.980515
number_429    1.000000
Name: number_134, dtype: float64
number_107    0.999910
number_125    0.972601
number_135    1.000000
number_154    0.953839
number_239    0.975798
number_249    0.969428
number_259    0.951304
number_322    0.999859
number_336    0.974869
number_338    0.977196
number_350    1.000000
number_378    0.961734
number_379    0.961734
number_383    0.961734
number_385    0.961734
number_386    0.961734
number_393    0.961734
number_410    0.961734
number_411    0.961734
number_412    0.961734
number_415    0.961734
number_417    0.961734
number_418    0.961734
number_419    0.961734
number_425    0.961734
number_426    0.957238
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_135, dtype: float64
number_89     1.000000
number_107    1.000000
number_136    1.000000
number_325    1.000000
number_696    1.000000
number_697    1.000000
number_698    0.955018
Name: number_136, dtype: float64
number_3      0.979737
number_137    1.000000
number_141    0.998005
number_142    0.998005
number_143    0.998005
number_144    0.998005
number_151    0.962359
number_152    0.998005
number_156    0.998005
number_157    0.998005
number_158    0.998005
number_185    0.995202
number_211    0.968645
number_212    0.968645
number_214    0.968645
number_246    0.999972
number_247    0.999972
number_254    1.000000
number_255    1.000000
number_263    1.000000
number_264    0.975639
number_304    0.998005
number_462    1.000000
number_463    1.000000
number_466    1.000000
number_467    1.000000
number_558    0.998005
number_559    0.998005
number_560    0.998005
number_561    0.998005
number_562    0.998005
number_563    0.998005
number_564    0.998005
number_565    0.998005
number_566    0.998005
number_567    0.998005
number_568    0.998005
number_569    0.998005
number_570    0.998005
number_571    0.998005
number_572    0.998005
number_618    0.998005
number_619    0.998005
number_620    0.998005
number_666    0.998005
number_667    0.998005
number_668    0.998005
number_669    0.998005
number_670    0.998005
number_671    0.998005
number_672    0.998005
number_673    0.998005
number_674    0.998005
number_675    0.998005
number_676    0.998005
number_677    0.998005
number_731    0.959712
Name: number_137, dtype: float64
Series([], Name: number_138, dtype: float64)
number_21     1.000000
number_65     0.962870
number_68     0.951827
number_69     0.994192
number_70     0.951827
number_71     0.951827
number_107    1.000000
number_122    0.998990
number_129    0.990248
number_130    0.965414
number_139    1.000000
number_276    0.983490
number_281    0.951827
number_282    0.983490
number_301    0.974273
number_302    1.000000
number_303    1.000000
number_304    0.951827
number_305    0.999601
number_322    1.000000
number_363    0.951827
number_364    0.951827
number_381    0.983490
number_382    0.983490
number_397    0.983490
number_398    0.983490
number_403    0.992529
number_457    1.000000
number_470    1.000000
number_623    0.950833
Name: number_139, dtype: float64
number_65     0.971271
number_68     0.992343
number_69     0.995910
number_70     0.992343
number_71     0.992343
number_129    0.981762
number_130    0.988981
number_140    1.000000
number_276    1.000000
number_281    0.992343
number_282    1.000000
number_301    0.980196
number_302    1.000000
number_303    1.000000
number_304    0.992343
number_305    1.000000
number_345    1.000000
number_363    0.992343
number_364    0.992343
number_381    1.000000
number_382    1.000000
number_397    1.000000
number_398    1.000000
number_403    0.998221
number_457    1.000000
number_470    1.000000
number_615    0.967284
number_616    0.956587
number_617    0.976665
Name: number_140, dtype: float64
number_137    0.998005
number_141    1.000000
number_143    1.000000
number_429    1.000000
number_491    1.000000
Name: number_141, dtype: float64
number_137    0.998005
number_142    1.000000
number_144    1.000000
number_429    1.000000
number_491    1.000000
Name: number_142, dtype: float64
number_137    0.998005
number_141    1.000000
number_143    1.000000
number_429    1.000000
number_491    1.000000
Name: number_143, dtype: float64
number_137    0.998005
number_142    1.000000
number_144    1.000000
number_429    1.000000
number_491    1.000000
Name: number_144, dtype: float64
number_145    1.000000
number_151    0.995009
number_236    1.000000
number_237    1.000000
number_318    1.000000
number_429    1.000000
number_476    0.997726
number_477    0.997726
number_478    1.000000
number_479    1.000000
number_645    0.971620
number_651    0.975440
number_657    0.973695
Name: number_145, dtype: float64
number_146    1.000000
number_147    0.982858
number_148    1.000000
number_149    0.982858
number_150    0.950017
Name: number_146, dtype: float64
number_146    0.982858
number_147    1.000000
number_148    0.982858
number_149    1.000000
number_150    0.963906
Name: number_147, dtype: float64
number_146    1.000000
number_147    0.982858
number_148    1.000000
number_149    0.982858
number_150    0.950017
Name: number_148, dtype: float64
number_146    0.982858
number_147    1.000000
number_148    0.982858
number_149    1.000000
number_150    0.963906
Name: number_149, dtype: float64
number_146    0.950017
number_147    0.963906
number_148    0.950017
number_149    0.963906
number_150    1.000000
number_215    1.000000
number_476    1.000000
number_477    1.000000
number_479    0.960323
Name: number_150, dtype: float64
number_137    0.962359
number_145    0.995009
number_151    1.000000
number_236    1.000000
number_237    1.000000
number_318    0.987172
number_429    1.000000
number_645    0.983198
number_651    0.984722
number_654    0.956205
number_657    0.985335
Name: number_151, dtype: float64
number_137    0.998005
number_152    1.000000
number_491    1.000000
Name: number_152, dtype: float64
number_153    1.0
Name: number_153, dtype: float64
number_135    0.953839
number_154    1.000000
number_227    1.000000
number_310    1.000000
number_426    0.961343
number_429    1.000000
number_708    0.985862
number_714    0.967648
number_717    0.983692
number_720    0.985862
Name: number_154, dtype: float64
number_103    0.999593
number_155    1.000000
number_223    1.000000
number_253    0.967799
number_260    1.000000
number_336    0.983809
number_340    1.000000
number_341    1.000000
Name: number_155, dtype: float64
number_137    0.998005
number_156    1.000000
number_666    0.996978
number_667    0.985823
number_668    0.958972
Name: number_156, dtype: float64
number_137    0.998005
number_157    1.000000
number_429    1.000000
Name: number_157, dtype: float64
number_137    0.998005
number_158    1.000000
number_429    1.000000
number_672    0.979585
number_673    0.955546
Name: number_158, dtype: float64

number_159    1.0
number_227    1.0
Name: number_159, dtype: float64
number_160    1.0
Name: number_160, dtype: float64
number_161    1.0
Name: number_161, dtype: float64
number_162    1.000000
number_350    0.955676
number_491    1.000000
Name: number_162, dtype: float64
number_163    1.0
number_171    1.0
number_491    1.0
Name: number_163, dtype: float64
number_25     1.0
number_164    1.0
number_491    1.0
Name: number_164, dtype: float64
number_165    1.0
number_172    1.0
Name: number_165, dtype: float64
Series([], Name: number_166, dtype: float64)
Series([], Name: number_167, dtype: float64)
Series([], Name: number_168, dtype: float64)
Series([], Name: number_169, dtype: float64)
Series([], Name: number_170, dtype: float64)
number_163    1.0
number_171    1.0
number_491    1.0
Name: number_171, dtype: float64
number_165    1.0
number_172    1.0
Name: number_172, dtype: float64
Series([], Name: number_173, dtype: float64)
number_174    1.000000
number_207    0.955271
number_340    0.984616
Name: number_174, dtype: float64
Series([], Name: number_175, dtype: float64)
Series([], Name: number_176, dtype: float64)
Series([], Name: number_177, dtype: float64)
Series([], Name: number_178, dtype: float64)
number_179    1.0
number_180    1.0
number_227    1.0
number_310    1.0
number_429    1.0
Name: number_179, dtype: float64
number_179    1.0
number_180    1.0
number_227    1.0
number_310    1.0
number_429    1.0
Name: number_180, dtype: float64
Series([], Name: number_181, dtype: float64)
number_118    0.979769
number_124    0.987842
number_182    1.000000
number_183    1.000000
number_190    0.956082
number_227    1.000000
number_429    1.000000
number_491    1.000000
Name: number_182, dtype: float64
number_118    0.979769
number_124    0.987842
number_182    1.000000
number_183    1.000000
number_190    0.956082
number_227    1.000000
number_429    1.000000
number_491    1.000000
Name: number_183, dtype: float64
Series([], Name: number_184, dtype: float64)
number_137    0.995202
number_185    1.000000
number_237    0.999951
number_318    0.991630
number_429    1.000000
Name: number_185, dtype: float64
number_186    1.0
number_227    1.0
number_429    1.0
Name: number_186, dtype: float64
number_110    0.989654
number_187    1.000000
number_237    0.962870
number_310    1.000000
number_429    1.000000
number_476    1.000000
number_477    1.000000
number_478    0.988678
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_187, dtype: float64
number_188    1.000000
number_310    1.000000
number_318    0.963214
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_188, dtype: float64
number_189    1.000000
number_310    1.000000
number_429    1.000000
number_475    0.975158
Name: number_189, dtype: float64
number_118    0.960950
number_124    0.971564
number_182    0.956082
number_183    0.956082
number_190    1.000000
number_310    1.000000
number_429    1.000000
number_475    0.983319
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
Name: number_190, dtype: float64
number_191    1.000000
number_193    1.000000
number_250    1.000000
number_251    1.000000
number_318    1.000000
number_472    1.000000
number_474    1.000000
number_475    1.000000
number_580    0.954019
Name: number_191, dtype: float64
number_192    1.0
Name: number_192, dtype: float64
number_107    1.000000
number_109    0.970725
number_118    0.951119
number_191    1.000000
number_193    1.000000
number_194    0.970085
number_195    0.968556
number_196    0.968556
number_236    1.000000
number_237    1.000000
number_243    1.000000
number_383    0.956995
number_385    0.956995
number_415    0.959042
number_417    0.959042
number_476    1.000000
number_477    1.000000
Name: number_193, dtype: float64
number_118    0.964114
number_124    0.967348
number_193    0.970085
number_194    1.000000
number_195    0.999487
number_196    0.999487
number_229    0.958950
number_240    1.000000
Name: number_194, dtype: float64
number_193    0.968556
number_194    0.999487
number_195    1.000000
Name: number_195, dtype: float64
number_193    0.968556
number_194    0.999487
number_196    1.000000
Name: number_196, dtype: float64
number_197    1.0
number_198    1.0
number_227    1.0
number_429    1.0
Name: number_197, dtype: float64
number_197    1.0
number_198    1.0
number_227    1.0
number_429    1.0
Name: number_198, dtype: float64
Series([], Name: number_199, dtype: float64)
number_132    0.980453
number_134    0.980515
number_200    1.000000
number_201    1.000000
number_429    1.000000
Name: number_200, dtype: float64
number_132    0.980453
number_134    0.980515
number_200    1.000000
number_201    1.000000
number_429    1.000000
Name: number_201, dtype: float64
Series([], Name: number_202, dtype: float64)
number_203    1.0
number_204    1.0
number_429    1.0
Name: number_203, dtype: float64
number_203    1.0
number_204    1.0
number_429    1.0
Name: number_204, dtype: float64
number_205    1.0
number_206    1.0
Name: number_205, dtype: float64
number_205    1.0
number_206    1.0
Name: number_206, dtype: float64
number_174    0.955271
number_207    1.000000
number_307    0.968391
number_310    1.000000
number_318    0.992172
number_479    0.994044
Name: number_207, dtype: float64
number_208    1.0000
number_318    0.9913
Name: number_208, dtype: float64
number_209    1.000000
number_210    1.000000
number_213    0.998282
number_318    1.000000
number_429    1.000000
number_479    0.979039
Name: number_209, dtype: float64
number_209    1.000000
number_210    1.000000
number_213    0.998282
number_318    1.000000
number_429    1.000000
number_479    0.979039
Name: number_210, dtype: float64
number_137    0.968645
number_211    1.000000
number_212    1.000000
number_214    0.998276
number_237    0.958899
number_306    0.959997
number_318    1.000000
number_429    1.000000
Name: number_211, dtype: float64
number_137    0.968645
number_211    1.000000
number_212    1.000000
number_214    0.998276
number_237    0.958899
number_306    0.959997
number_318    1.000000
number_429    1.000000
Name: number_212, dtype: float64
number_209    0.998282
number_210    0.998282
number_213    1.000000
number_318    1.000000
number_429    1.000000
number_479    0.979039
Name: number_213, dtype: float64
number_137    0.968645
number_211    0.998276
number_212    0.998276
number_214    1.000000
number_237    0.956623
number_306    0.959997
number_318    1.000000
Name: number_214, dtype: float64
number_121    1.000000
number_150    1.000000
number_215    1.000000
number_255    1.000000
number_269    0.973058
number_274    0.970946
number_279    0.981981
number_298    1.000000
number_299    1.000000
number_332    0.990892
number_333    0.997342
number_334    0.998186
number_340    1.000000
number_345    0.957610
number_383    0.995116
number_385    0.995116
number_386    0.994579
number_387    0.999874
number_410    0.981981
number_411    0.981981
number_412    0.981981
number_415    0.973082
number_417    0.973082
number_418    0.970946
number_419    0.970946
number_457    1.000000
number_461    0.987099
number_469    0.994149
Name: number_215, dtype: float64
number_216    1.000000
number_271    0.995398
number_292    0.957142
number_293    0.989895
number_294    0.957142
number_295    0.989895
number_345    0.974355
number_388    1.000000
number_389    1.000000
number_392    1.000000
number_420    1.000000
number_421    1.000000
number_424    1.000000
number_453    1.000000
number_458    0.998778
Name: number_216, dtype: float64
number_217    1.000000
number_318    1.000000
number_552    0.992879
number_553    0.992879
number_555    0.989216
number_556    0.987183
number_557    0.976656
Name: number_217, dtype: float64
number_218    1.000000
number_238    0.980196
number_250    1.000000
Name: number_218, dtype: float64
number_129    0.982991
number_130    0.951880
number_219    1.000000
number_227    1.000000
number_310    1.000000
Name: number_219, dtype: float64
number_129    0.999568
number_130    0.987829
number_220    1.000000
Name: number_220, dtype: float64
number_100    0.97994
number_221    1.00000
number_227    1.00000
number_429    1.00000
Name: number_221, dtype: float64
number_222    1.000000
number_226    0.986756
number_227    1.000000
number_429    1.000000
number_488    0.999733
number_489    0.999733
number_490    0.999733
number_491    1.000000
Name: number_222, dtype: float64
number_100    0.973504
number_103    1.000000
number_115    1.000000
number_155    1.000000
number_223    1.000000
number_433    1.000000
number_472    0.987464
number_476    1.000000
number_477    1.000000
number_478    1.000000
Name: number_223, dtype: float64
number_224    1.0
number_478    1.0
Name: number_224, dtype: float64
number_100    0.950887
number_225    1.000000
number_429    1.000000
number_475    1.000000
Name: number_225, dtype: float64
number_222    0.986756
number_226    1.000000
number_429    1.000000
number_475    1.000000
number_488    0.996078
number_489    0.996078
number_490    0.996078
number_491    1.000000
Name: number_226, dtype: float64
number_6      1.0
number_7      1.0
number_8      1.0
number_9      1.0
number_10     1.0
number_11     1.0
number_12     1.0
number_22     1.0
number_23     1.0
number_48     1.0
number_49     1.0
number_50     1.0
number_51     1.0
number_56     1.0
number_57     1.0
number_59     1.0
number_63     1.0
number_95     1.0
number_96     1.0
number_101    1.0
number_116    1.0
number_117    1.0
number_123    1.0
number_124    1.0
number_131    1.0
number_133    1.0
number_154    1.0
number_159    1.0
number_179    1.0
number_180    1.0
             ...
number_632    1.0
number_635    1.0
number_638    1.0
number_641    1.0
number_644    1.0
number_663    1.0
number_664    1.0
number_665    1.0
number_708    1.0
number_709    1.0
number_710    1.0
number_714    1.0
number_715    1.0
number_717    1.0
number_718    1.0
number_719    1.0
number_720    1.0
number_721    1.0
number_722    1.0
number_723    1.0
number_724    1.0
number_725    1.0
number_729    1.0
number_732    1.0
number_733    1.0
number_734    1.0
number_735    1.0
number_736    1.0
number_737    1.0
line_id       1.0
Name: number_227, Length: 159, dtype: float64
Series([], Name: number_228, dtype: float64)
number_194    0.95895
number_229    1.00000
number_243    1.00000
number_345    1.00000
Name: number_229, dtype: float64
number_21     0.995878
number_230    1.000000
number_238    0.960884
number_345    1.000000
Name: number_230, dtype: float64
number_231    1.0
Name: number_231, dtype: float64
number_232    1.0
Name: number_232, dtype: float64
number_233    1.0
number_429    1.0
Name: number_233, dtype: float64
number_234    1.000000
number_237    0.991792
number_323    1.000000
Name: number_234, dtype: float64
number_129    1.000000
number_130    1.000000
number_235    1.000000
number_237    0.991337
number_323    0.999983
Name: number_235, dtype: float64
number_145    1.000000
number_151    1.000000
number_193    1.000000
number_236    1.000000
number_250    1.000000
number_251    1.000000
number_254    0.981981
number_255    0.999976
number_292    1.000000
number_294    1.000000
number_465    1.000000
Name: number_236, dtype: float64
number_14     0.987129
number_119    0.997379
number_145    1.000000
number_151    1.000000
number_185    0.999951
number_187    0.962870
number_193    1.000000
number_211    0.958899
number_212    0.958899
number_214    0.956623
number_234    0.991792
number_235    0.991337
number_237    1.000000
number_292    1.000000
number_294    1.000000
number_297    1.000000
number_465    1.000000
Name: number_237, dtype: float64
number_129    1.000000
number_218    0.980196
number_230    0.960884
number_238    1.000000
number_471    0.987871
number_476    1.000000
number_477    1.000000
Name: number_238, dtype: float64
number_129    1.000000
number_135    0.975798
number_239    1.000000
number_433    0.959660
number_476    1.000000
number_477    1.000000
Name: number_239, dtype: float64
number_194    1.000000
number_240    1.000000
number_399    0.990917
number_401    0.990917
number_402    0.989392
number_403    0.970380
Name: number_240, dtype: float64
number_241    1.000000
number_298    0.974137
number_302    1.000000
number_459    0.999712
Name: number_241, dtype: float64
number_107    1.000000
number_242    1.000000
number_261    0.971833
number_321    1.000000
number_345    1.000000
Name: number_242, dtype: float64
number_102    1.000000
number_107    1.000000
number_109    0.999976
number_193    1.000000
number_229    1.000000
number_243    1.000000
number_302    1.000000
number_340    0.964763
number_345    1.000000
Name: number_243, dtype: float64
number_244    1.0
Name: number_244, dtype: float64
number_245    1.000000
number_345    0.981954
Name: number_245, dtype: float64

number_110    1.000000
number_137    0.999972
number_246    1.000000
Name: number_246, dtype: float64
number_110    1.000000
number_137    0.999972
number_247    1.000000
number_306    0.950429
number_474    1.000000
number_475    1.000000
Name: number_247, dtype: float64
number_112    0.999322
number_248    1.000000
number_302    0.983481
Name: number_248, dtype: float64
number_135    0.969428
number_249    1.000000
number_302    0.994196
number_433    0.984748
Name: number_249, dtype: float64
number_191    1.000000
number_218    1.000000
number_236    1.000000
number_250    1.000000
number_472    0.970725
number_473    1.000000
Name: number_250, dtype: float64
number_130    0.970028
number_191    1.000000
number_236    1.000000
number_251    1.000000
number_322    1.000000
Name: number_251, dtype: float64
number_252    1.0
number_318    1.0
Name: number_252, dtype: float64
number_103    0.967799
number_155    0.967799
number_253    1.000000
number_318    1.000000
Name: number_253, dtype: float64
number_137    1.000000
number_236    0.981981
number_254    1.000000
number_318    1.000000
number_473    1.000000
number_478    1.000000
Name: number_254, dtype: float64
number_100    1.000000
number_110    1.000000
number_137    1.000000
number_215    1.000000
number_236    0.999976
number_255    1.000000
number_318    1.000000
number_478    1.000000
Name: number_255, dtype: float64
number_256    1.000000
number_318    0.991199
Name: number_256, dtype: float64
number_257    1.0
Name: number_257, dtype: float64
number_258    1.0
number_488    1.0
number_489    1.0
number_490    1.0
Name: number_258, dtype: float64
number_129    1.000000
number_135    0.951304
number_259    1.000000
number_322    1.000000
number_350    1.000000
Name: number_259, dtype: float64
number_103    1.000000
number_115    1.000000
number_155    1.000000
number_260    1.000000
number_345    1.000000
number_388    0.986021
number_389    0.986021
number_392    0.986021
number_404    0.986021
number_405    0.986021
number_408    0.986021
Name: number_260, dtype: float64
number_242    0.971833
number_261    1.000000
number_345    1.000000
number_433    0.999453
Name: number_261, dtype: float64
number_262    1.0
Name: number_262, dtype: float64
number_137    1.0
number_263    1.0
number_318    1.0
Name: number_263, dtype: float64
number_137    0.975639
number_227    1.000000
number_264    1.000000
number_310    1.000000
number_318    0.981640
number_350    1.000000
number_429    1.000000
number_491    1.000000
Name: number_264, dtype: float64
number_265    1.000000
number_445    0.977698
Name: number_265, dtype: float64
number_129    0.985134
number_130    0.992278
number_266    1.000000
number_492    1.000000
number_493    0.999335
number_494    0.991473
Name: number_266, dtype: float64
number_227    1.000000
number_267    1.000000
number_269    0.980691
number_322    0.973918
number_383    0.988225
number_385    0.988225
number_415    0.966204
number_417    0.966204
number_429    1.000000
number_491    1.000000
Name: number_267, dtype: float64
number_268    1.000000
number_322    0.993464
number_399    0.963347
number_401    0.963347
number_429    1.000000
number_476    1.000000
number_477    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_268, dtype: float64
number_215    0.973058
number_227    1.000000
number_267    0.980691
number_269    1.000000
number_383    0.961126
number_385    0.961126
number_415    0.992204
number_417    0.992204
number_429    1.000000
Name: number_269, dtype: float64
number_270    1.0
number_275    1.0
number_280    1.0
Name: number_270, dtype: float64
number_216    0.995398
number_227    1.000000
number_271    1.000000
number_322    0.995027
number_429    1.000000
number_476    1.000000
number_477    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_271, dtype: float64
number_227    1.000000
number_272    1.000000
number_274    0.971688
number_322    0.974009
number_429    1.000000
number_491    1.000000
Name: number_272, dtype: float64
number_273    1.000000
number_322    0.993655
number_402    0.983263
number_429    1.000000
number_476    1.000000
number_477    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_273, dtype: float64
number_215    0.970946
number_227    1.000000
number_272    0.971688
number_274    1.000000
number_429    1.000000
Name: number_274, dtype: float64
number_270    1.0
number_275    1.0
number_280    1.0
Name: number_275, dtype: float64
number_129    1.000000
number_130    1.000000
number_139    0.983490
number_140    1.000000
number_276    1.000000
number_348    0.979289
number_350    1.000000
number_429    1.000000
Name: number_276, dtype: float64
number_227    1.0
number_277    1.0
number_429    1.0
number_491    1.0
Name: number_277, dtype: float64
number_45     0.992725
number_278    1.000000
number_429    1.000000
number_476    1.000000
number_477    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_278, dtype: float64
number_48     1.000000
number_49     1.000000
number_50     1.000000
number_215    0.981981
number_227    1.000000
number_279    1.000000
number_429    1.000000
Name: number_279, dtype: float64
number_270    1.0
number_275    1.0
number_280    1.0
Name: number_280, dtype: float64
number_129    0.985134
number_130    0.992278
number_139    0.951827
number_140    0.992343
number_281    1.000000
number_429    1.000000
Name: number_281, dtype: float64
number_129    1.00000
number_130    1.00000
number_139    0.98349
number_140    1.00000
number_282    1.00000
number_429    1.00000
Name: number_282, dtype: float64
number_283    1.000000
number_350    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.989311
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_704    0.970193
number_705    1.000000
number_706    1.000000
number_707    0.989311
Name: number_283, dtype: float64
number_284    1.0
Name: number_284, dtype: float64
number_227    1.000000
number_285    1.000000
number_322    0.989547
number_350    1.000000
Name: number_285, dtype: float64
number_286    1.0
number_310    1.0
Name: number_286, dtype: float64
number_227    1.0
number_287    1.0
number_429    1.0
Name: number_287, dtype: float64
number_227    1.0
number_288    1.0
number_429    1.0
Name: number_288, dtype: float64
number_227    1.0
number_289    1.0
number_429    1.0
number_491    1.0
Name: number_289, dtype: float64
number_290    1.0
Name: number_290, dtype: float64
number_227    1.0
number_291    1.0
Name: number_291, dtype: float64
number_216    0.957142
number_236    1.000000
number_237    1.000000
number_292    1.000000
number_294    1.000000
number_433    1.000000
number_476    0.963928
Name: number_292, dtype: float64
number_100    1.000000
number_216    0.989895
number_293    1.000000
number_295    1.000000
number_433    1.000000
number_476    0.993596
number_477    0.984324
Name: number_293, dtype: float64
number_216    0.957142
number_236    1.000000
number_237    1.000000
number_292    1.000000
number_294    1.000000
number_433    1.000000
number_476    0.963928
Name: number_294, dtype: float64
number_100    1.000000
number_216    0.989895
number_293    1.000000
number_295    1.000000
number_433    1.000000
number_476    0.993596
number_477    0.984324
Name: number_295, dtype: float64
number_296    1.0
Name: number_296, dtype: float64
number_237    1.0
number_297    1.0
Name: number_297, dtype: float64
number_100    0.992880
number_129    1.000000
number_130    1.000000
number_215    1.000000
number_241    0.974137
number_298    1.000000
number_306    1.000000
number_307    1.000000
number_318    1.000000
number_478    0.994192
Name: number_298, dtype: float64
number_100    0.984732
number_215    1.000000
number_299    1.000000
number_306    1.000000
number_307    1.000000
Name: number_299, dtype: float64
number_129    0.985134
number_130    0.992278
number_227    1.000000
number_300    1.000000
Name: number_300, dtype: float64
number_125    0.994524
number_139    0.974273
number_140    0.980196
number_227    1.000000
number_301    1.000000
number_350    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
number_624    0.952276
number_627    0.971343
Name: number_301, dtype: float64
number_139    1.000000
number_140    1.000000
number_241    1.000000
number_243    1.000000
number_248    0.983481
number_249    0.994196
number_302    1.000000
number_318    0.987892
number_345    1.000000
number_458    0.993717
Name: number_302, dtype: float64
number_139    1.0
number_140    1.0
number_303    1.0
number_345    1.0
Name: number_303, dtype: float64
number_129    0.985134
number_130    0.992278
number_137    0.998005
number_139    0.951827
number_140    0.992343
number_304    1.000000
number_305    0.978956
Name: number_304, dtype: float64
number_139    0.999601
number_140    1.000000
number_304    0.978956
number_305    1.000000
number_307    1.000000
Name: number_305, dtype: float64
number_211    0.959997
number_212    0.959997
number_214    0.959997
number_247    0.950429
number_298    1.000000
number_299    1.000000
number_306    1.000000
number_341    0.978117
number_387    1.000000
number_403    1.000000
number_454    0.981127
number_457    0.999042
Name: number_306, dtype: float64
number_69     1.000000
number_207    0.968391
number_298    1.000000
number_299    1.000000
number_305    1.000000
number_307    1.000000
number_387    1.000000
number_403    1.000000
number_454    0.973684
number_457    0.997406
number_495    0.994046
number_496    0.995242
number_497    0.986753
Name: number_307, dtype: float64
number_308    1.00000
number_309    1.00000
number_322    0.97169
Name: number_308, dtype: float64
number_308    1.000000
number_309    1.000000
number_322    0.971961
Name: number_309, dtype: float64
number_0      1.0
target        1.0
number_4      1.0
number_6      1.0
number_7      1.0
number_8      1.0
number_9      1.0
number_10     1.0
number_11     1.0
number_12     1.0
number_22     1.0
number_23     1.0
number_27     1.0
number_31     1.0
number_54     1.0
number_55     1.0
number_59     1.0
number_67     1.0
number_71     1.0
number_74     1.0
number_75     1.0
number_79     1.0
number_83     1.0
number_91     1.0
number_96     1.0
number_101    1.0
number_116    1.0
number_123    1.0
number_124    1.0
number_154    1.0
             ...
number_595    1.0
number_596    1.0
number_600    1.0
number_601    1.0
number_602    1.0
number_603    1.0
number_604    1.0
number_605    1.0
number_606    1.0
number_607    1.0
number_608    1.0
number_618    1.0
number_619    1.0
number_620    1.0
number_632    1.0
number_635    1.0
number_663    1.0
number_664    1.0
number_665    1.0
number_709    1.0
number_710    1.0
number_715    1.0
number_716    1.0
number_717    1.0
number_718    1.0
number_719    1.0
number_721    1.0
number_722    1.0
number_730    1.0
number_731    1.0
Name: number_310, Length: 134, dtype: float64
Series([], Name: number_311, dtype: float64)
number_312    1.0
Name: number_312, dtype: float64
number_100    1.000000
number_125    0.994524
number_313    1.000000
Name: number_313, dtype: float64
Series([], Name: string_20, dtype: float64)
Series([], Name: string_21, dtype: float64)
Series([], Name: number_314, dtype: float64)
Series([], Name: number_315, dtype: float64)
number_316    1.000000
number_317    0.960483
Name: number_316, dtype: float64
number_316    0.960483
number_317    1.000000
Name: number_317, dtype: float64
number_37     0.965902
number_99     1.000000
number_101    0.985152
number_106    1.000000
number_109    1.000000
number_119    1.000000
number_122    0.999618
number_145    1.000000
number_151    0.987172
number_185    0.991630
number_188    0.963214
number_191    1.000000
number_207    0.992172
number_208    0.991300
number_209    1.000000
number_210    1.000000
number_211    1.000000
number_212    1.000000
number_213    1.000000
number_214    1.000000
number_217    1.000000
number_252    1.000000
number_253    1.000000
number_254    1.000000
number_255    1.000000
number_256    0.991199
number_263    1.000000
number_264    0.981640
number_298    1.000000
number_302    0.987892
number_318    1.000000
number_345    1.000000
number_452    1.000000
number_454    1.000000
number_457    1.000000
number_459    1.000000
number_472    1.000000
number_473    1.000000
number_487    0.988597
number_495    0.982500
number_496    0.961654
number_497    0.952553
number_573    0.988209
number_574    0.987804
number_575    0.994572
number_579    0.981808
number_580    0.980955
number_581    0.992371
number_582    0.990912
number_583    0.992799
number_585    0.988209
number_586    0.987804
number_587    0.994572
Name: number_318, dtype: float64
Series([], Name: number_319, dtype: float64)
number_320    1.0
Name: number_320, dtype: float64
number_242    1.0
number_321    1.0
Name: number_321, dtype: float64
number_72     0.971690
number_73     0.971690
number_75     0.971690
number_102    1.000000
number_135    0.999859
number_139    1.000000
number_251    1.000000
number_259    1.000000
number_267    0.973918
number_268    0.993464
number_271    0.995027
number_272    0.974009
number_273    0.993655
number_285    0.989547
number_308    0.971690
number_309    0.971961
number_322    1.000000
number_345    1.000000
number_365    0.971690
number_366    0.971690
number_383    0.993657
number_385    0.993657
number_386    0.994245
number_399    0.993657
number_401    0.993657
number_402    0.994245
number_630    0.963467
number_636    0.963467
number_637    0.959527
number_639    0.963467
number_642    0.963467
Name: number_322, dtype: float64
number_234    1.000000
number_235    0.999983
number_323    1.000000
Name: number_323, dtype: float64
number_324    1.0
Name: number_324, dtype: float64
number_136    1.0
number_325    1.0
Name: number_325, dtype: float64
Series([], Name: number_326, dtype: float64)
Series([], Name: number_327, dtype: float64)
number_227    1.000000
number_328    1.000000
number_332    0.962882
number_429    1.000000
number_475    1.000000
Name: number_328, dtype: float64
number_227    1.000000
number_329    1.000000
number_337    0.962659
number_429    1.000000
number_475    1.000000
number_488    0.998625
number_489    0.998625
number_490    0.998625
number_491    1.000000
Name: number_329, dtype: float64
number_227    1.000000
number_330    1.000000
number_334    0.963178
number_429    1.000000
Name: number_330, dtype: float64
number_227    1.000000
number_331    1.000000
number_335    0.959606
number_429    1.000000
number_491    1.000000
Name: number_331, dtype: float64
number_125    0.967416
number_215    0.990892
number_328    0.962882
number_332    1.000000
number_476    1.000000
number_477    1.000000
Name: number_332, dtype: float64
number_215    0.997342
number_333    1.000000
number_335    0.974433
number_476    1.000000
number_477    1.000000
Name: number_333, dtype: float64
number_215    0.998186
number_330    0.963178
number_334    1.000000
Name: number_334, dtype: float64
number_331    0.959606
number_333    0.974433
number_335    1.000000
Name: number_335, dtype: float64
number_103    0.983809
number_115    0.983809
number_135    0.974869
number_155    0.983809
number_336    1.000000
Name: number_336, dtype: float64
number_329    0.962659
number_337    1.000000
number_350    1.000000
number_433    0.980609
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
Name: number_337, dtype: float64
number_135    0.977196
number_338    1.000000
Name: number_338, dtype: float64
number_339    1.0
number_350    1.0
number_488    1.0
number_489    1.0
number_490    1.0
number_491    1.0
Name: number_339, dtype: float64
number_103    1.000000
number_115    1.000000
number_155    1.000000
number_174    0.984616
number_215    1.000000
number_227    1.000000
number_243    0.964763
number_340    1.000000
number_476    1.000000
number_477    1.000000
Name: number_340, dtype: float64
number_103    1.000000
number_115    1.000000
number_155    1.000000
number_227    1.000000
number_306    0.978117
number_341    1.000000
Name: number_341, dtype: float64
number_227    1.0
number_342    1.0
Name: number_342, dtype: float64
number_343    1.000000
number_475    0.979076
Name: number_343, dtype: float64
number_344    1.0
Name: number_344, dtype: float64
number_140    1.000000
number_215    0.957610
number_216    0.974355
number_229    1.000000
number_230    1.000000
number_242    1.000000
number_243    1.000000
number_245    0.981954
number_260    1.000000
number_261    1.000000
number_302    1.000000
number_303    1.000000
number_318    1.000000
number_322    1.000000
number_345    1.000000
number_429    1.000000
number_471    0.978813
number_558    0.956562
number_564    1.000000
number_565    0.999484
number_566    0.993773
number_567    1.000000
number_568    1.000000
number_569    1.000000
number_570    1.000000
number_571    0.999949
number_572    0.999348
Name: number_345, dtype: float64
number_227    1.000000
number_346    1.000000
number_347    0.998587
Name: number_346, dtype: float64
number_227    1.000000
number_346    0.998587
number_347    1.000000
Name: number_347, dtype: float64
number_276    0.979289
number_348    1.000000
Name: number_348, dtype: float64
number_349    1.0
Name: number_349, dtype: float64
number_98     0.987844
number_108    0.986969
number_125    1.000000
number_135    1.000000
number_162    0.955676
number_259    1.000000
number_264    1.000000
number_276    1.000000
number_283    1.000000
number_285    1.000000
number_301    1.000000
number_337    1.000000
number_339    1.000000
number_350    1.000000
number_381    1.000000
number_382    1.000000
number_412    1.000000
number_413    1.000000
number_414    1.000000
number_451    0.953821
number_466    0.998137
number_470    1.000000
number_491    1.000000
Name: number_350, dtype: float64
number_351    1.0
Name: number_351, dtype: float64
number_27     0.999688
number_352    1.000000
number_429    1.000000
number_491    1.000000
Name: number_352, dtype: float64
Series([], Name: number_353, dtype: float64)
number_31     0.964697
number_310    1.000000
number_354    1.000000
number_429    1.000000

Name: number_354, dtype: float64
number_355    1.0
number_429    1.0
Name: number_355, dtype: float64
number_55     0.999945
number_310    1.000000
number_356    1.000000
number_429    1.000000
number_491    1.000000
Name: number_356, dtype: float64
number_227    1.0
number_357    1.0
Name: number_357, dtype: float64
number_59     0.999901
number_227    1.000000
number_310    1.000000
number_358    1.000000
number_429    1.000000
number_491    1.000000
Name: number_358, dtype: float64
number_359    1.0
Name: number_359, dtype: float64
number_360    1.0
Name: number_360, dtype: float64
number_129    0.985134
number_130    0.992278
number_361    1.000000
number_491    1.000000
Name: number_361, dtype: float64
number_67     0.999985
number_129    0.982653
number_130    0.990785
number_310    1.000000
number_362    1.000000
number_491    1.000000
Name: number_362, dtype: float64
number_68     0.960214
number_129    0.985134
number_130    0.992278
number_139    0.951827
number_140    0.992343
number_363    1.000000
Name: number_363, dtype: float64
number_71     0.999999
number_129    0.982653
number_130    0.990785
number_139    0.951827
number_140    0.992343
number_310    1.000000
number_364    1.000000
Name: number_364, dtype: float64
number_322    0.97169
number_365    1.00000
Name: number_365, dtype: float64
number_75     0.999994
number_310    1.000000
number_322    0.971690
number_366    1.000000
Name: number_366, dtype: float64
Series([], Name: number_367, dtype: float64)
number_79     1.0
number_310    1.0
number_368    1.0
number_491    1.0
Name: number_368, dtype: float64
number_369    1.0
Name: number_369, dtype: float64
number_83     0.999987
number_310    1.000000
number_370    1.000000
Name: number_370, dtype: float64
number_84     0.96958
number_371    1.00000
Name: number_371, dtype: float64
number_87     0.999997
number_372    1.000000
Name: number_372, dtype: float64
number_373    1.0
Name: number_373, dtype: float64
number_88     0.989773
number_89     0.996333
number_91     0.999997
number_310    1.000000
number_374    1.000000
Name: number_374, dtype: float64
number_375    1.0
Name: number_375, dtype: float64
number_94     0.999344
number_310    1.000000
number_376    1.000000
number_429    1.000000
number_491    1.000000
number_594    0.984563
number_595    0.955813
number_600    0.972573
number_603    0.999968
number_604    0.999898
number_605    0.999583
number_606    0.994952
number_607    0.976067
Name: number_376, dtype: float64
number_95     0.95943
number_227    1.00000
number_377    1.00000
number_429    1.00000
Name: number_377, dtype: float64
number_135    0.961734
number_378    1.000000
number_379    0.983256
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_378, dtype: float64
number_135    0.961734
number_378    0.983256
number_379    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_379, dtype: float64
number_380    1.000000
number_429    1.000000
number_478    0.981981
Name: number_380, dtype: float64
number_129    1.000000
number_130    1.000000
number_139    0.983490
number_140    1.000000
number_350    1.000000
number_381    1.000000
number_382    1.000000
number_429    1.000000
number_478    0.981981
Name: number_381, dtype: float64
number_129    1.000000
number_130    1.000000
number_139    0.983490
number_140    1.000000
number_350    1.000000
number_381    1.000000
number_382    1.000000
number_429    1.000000
number_478    0.981981
Name: number_382, dtype: float64
number_135    0.961734
number_193    0.956995
number_215    0.995116
number_267    0.988225
number_269    0.961126
number_322    0.993657
number_383    1.000000
number_385    1.000000
number_415    0.969769
number_417    0.969769
number_429    1.000000
number_479    0.966002
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_383, dtype: float64
Series([], Name: number_384, dtype: float64)
number_135    0.961734
number_193    0.956995
number_215    0.995116
number_267    0.988225
number_269    0.961126
number_322    0.993657
number_383    1.000000
number_385    1.000000
number_415    0.969769
number_417    0.969769
number_429    1.000000
number_479    0.966002
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_385, dtype: float64
number_135    0.961734
number_215    0.994579
number_322    0.994245
number_386    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_386, dtype: float64
number_129    1.000000
number_130    1.000000
number_215    0.999874
number_306    1.000000
number_307    1.000000
number_387    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_387, dtype: float64
number_216    1.000000
number_260    0.986021
number_388    1.000000
number_389    1.000000
Name: number_388, dtype: float64
number_216    1.000000
number_260    0.986021
number_388    1.000000
number_389    1.000000
Name: number_389, dtype: float64
number_390    1.0
number_391    1.0
Name: number_390, dtype: float64
number_390    1.0
number_391    1.0
Name: number_391, dtype: float64
number_216    1.000000
number_260    0.986021
number_392    1.000000
Name: number_392, dtype: float64
number_135    0.961734
number_393    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_738    0.954460
number_744    1.000000
number_745    0.956588
number_750    0.972512
Name: number_393, dtype: float64
number_394    1.000000
number_395    0.983046
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_394, dtype: float64
number_394    0.983046
number_395    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_395, dtype: float64
number_396    1.000000
number_429    1.000000
number_478    0.981981
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_396, dtype: float64
number_129    1.000000
number_130    1.000000
number_139    0.983490
number_140    1.000000
number_397    1.000000
number_398    1.000000
number_429    1.000000
number_478    0.981981
Name: number_397, dtype: float64
number_129    1.000000
number_130    1.000000
number_139    0.983490
number_140    1.000000
number_397    1.000000
number_398    1.000000
number_429    1.000000
number_478    0.981981
Name: number_398, dtype: float64
number_240    0.990917
number_268    0.963347
number_322    0.993657
number_399    1.000000
number_401    1.000000
number_429    1.000000
number_479    0.966002
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_399, dtype: float64
Series([], Name: number_400, dtype: float64)
number_240    0.990917
number_268    0.963347
number_322    0.993657
number_399    1.000000
number_401    1.000000
number_429    1.000000
number_479    0.966002
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_401, dtype: float64
number_240    0.989392
number_273    0.983263
number_322    0.994245
number_402    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_402, dtype: float64
number_129    1.000000
number_130    1.000000
number_139    0.992529
number_140    0.998221
number_240    0.970380
number_306    1.000000
number_307    1.000000
number_403    1.000000
number_429    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_403, dtype: float64
number_260    0.986021
number_404    1.000000
number_405    1.000000
Name: number_404, dtype: float64
number_260    0.986021
number_404    1.000000
number_405    1.000000
Name: number_405, dtype: float64
number_406    1.0
number_407    1.0
Name: number_406, dtype: float64
number_406    1.0
number_407    1.0
Name: number_407, dtype: float64
number_260    0.986021
number_408    1.000000
Name: number_408, dtype: float64
number_409    1.0
number_429    1.0
number_488    1.0
number_489    1.0
number_490    1.0
Name: number_409, dtype: float64
number_135    0.961734
number_215    0.981981
number_410    1.000000
number_411    1.000000
number_429    1.000000
Name: number_410, dtype: float64
number_135    0.961734
number_215    0.981981
number_410    1.000000
number_411    1.000000
number_429    1.000000
Name: number_411, dtype: float64
number_135    0.961734
number_215    0.981981
number_350    1.000000
number_412    1.000000
number_429    1.000000
Name: number_412, dtype: float64
number_350    1.0
number_413    1.0
number_414    1.0
Name: number_413, dtype: float64
number_350    1.0
number_413    1.0
number_414    1.0
Name: number_414, dtype: float64
number_135    0.961734
number_193    0.959042
number_215    0.973082
number_267    0.966204
number_269    0.992204
number_383    0.969769
number_385    0.969769
number_415    1.000000
number_417    1.000000
number_418    0.952450
number_429    1.000000
Name: number_415, dtype: float64
Series([], Name: number_416, dtype: float64)
number_135    0.961734
number_193    0.959042
number_215    0.973082
number_267    0.966204
number_269    0.992204
number_383    0.969769
number_385    0.969769
number_415    1.000000
number_417    1.000000
number_418    0.952450
number_429    1.000000
Name: number_417, dtype: float64
number_135    0.961734
number_215    0.970946
number_415    0.952450
number_417    0.952450
number_418    1.000000
number_429    1.000000
Name: number_418, dtype: float64
number_135    0.961734
number_215    0.970946
number_419    1.000000
number_429    1.000000
Name: number_419, dtype: float64
number_216    1.0
number_420    1.0
number_421    1.0
Name: number_420, dtype: float64
number_216    1.0
number_420    1.0
number_421    1.0
Name: number_421, dtype: float64
number_422    1.0
number_423    1.0
Name: number_422, dtype: float64
number_422    1.0
number_423    1.0
Name: number_423, dtype: float64
number_216    1.0
number_424    1.0
Name: number_424, dtype: float64
number_135    0.961734
number_425    1.000000
number_429    1.000000
Name: number_425, dtype: float64
number_135    0.957238
number_154    0.961343
number_227    1.000000
number_310    1.000000
number_426    1.000000
number_429    1.000000
number_708    0.986658
number_714    0.988131
number_717    0.962874
number_720    0.986658
Name: number_426, dtype: float64
number_96     0.978726
number_227    1.000000
number_427    1.000000
Name: number_427, dtype: float64
number_227    1.000000
number_310    1.000000
number_428    1.000000
number_429    1.000000
number_709    0.977231
number_710    0.979746
number_721    0.977209
number_722    0.979717
Name: number_428, dtype: float64
number_3      1.0
number_12     1.0
number_20     1.0
number_22     1.0
number_23     1.0
number_27     1.0
number_31     1.0
number_39     1.0
number_44     1.0
number_45     1.0
number_46     1.0
number_47     1.0
number_48     1.0
number_49     1.0
number_50     1.0
number_51     1.0
number_52     1.0
number_53     1.0
number_55     1.0
number_59     1.0
number_94     1.0
number_95     1.0
number_97     1.0
number_98     1.0
number_104    1.0
number_105    1.0
number_108    1.0
number_116    1.0
number_117    1.0
number_118    1.0
             ...
number_716    1.0
number_717    1.0
number_718    1.0
number_719    1.0
number_720    1.0
number_721    1.0
number_722    1.0
number_723    1.0
number_724    1.0
number_725    1.0
number_728    1.0
number_729    1.0
number_730    1.0
number_731    1.0
number_732    1.0
number_733    1.0
number_734    1.0
number_735    1.0
number_736    1.0
number_737    1.0
number_738    1.0
number_739    1.0
number_740    1.0
number_743    1.0
number_744    1.0
number_747    1.0
number_750    1.0
number_751    1.0
number_752    1.0
line_id       1.0
Name: number_429, Length: 307, dtype: float64
number_227    1.0
number_310    1.0
number_430    1.0
Name: number_430, dtype: float64
number_104    0.998031
number_429    1.000000
number_431    1.000000
Name: number_431, dtype: float64
number_16     0.999997
number_17     0.999636
number_432    1.000000
number_491    1.000000
Name: number_432, dtype: float64
number_223    1.000000
number_239    0.959660
number_249    0.984748
number_261    0.999453
number_292    1.000000
number_293    1.000000
number_294    1.000000
number_295    1.000000
number_337    0.980609
number_433    1.000000
number_458    1.000000
Name: number_433, dtype: float64
number_434    1.0
Name: number_434, dtype: float64
number_435    1.0
Name: number_435, dtype: float64
number_129    0.985134
number_130    0.992278
number_429    1.000000
number_436    1.000000
Name: number_436, dtype: float64
number_429    1.0
number_437    1.0
Name: number_437, dtype: float64
number_227    1.0
number_429    1.0
number_438    1.0
Name: number_438, dtype: float64
number_227    1.0
number_429    1.0
number_439    1.0
Name: number_439, dtype: float64
number_440    1.0
Name: number_440, dtype: float64
number_441    1.0
number_491    1.0
Name: number_441, dtype: float64
number_227    1.0
number_442    1.0
Name: number_442, dtype: float64
number_227    1.0
number_310    1.0
number_443    1.0
Name: number_443, dtype: float64
number_444    1.0
Name: number_444, dtype: float64
number_265    0.977698
number_445    1.000000
Name: number_445, dtype: float64
number_310    1.0
number_446    1.0
number_491    1.0
Name: number_446, dtype: float64
number_227    1.000000
number_310    1.000000
number_447    1.000000
number_464    0.991982
number_491    1.000000
number_663    0.986899
number_664    0.956312
Name: number_447, dtype: float64
number_448    1.0
number_451    1.0
Name: number_448, dtype: float64
number_429    1.0
number_449    1.0
number_491    1.0
Name: number_449, dtype: float64
number_227    1.0
number_450    1.0
number_491    1.0
Name: number_450, dtype: float64
number_350    0.953821
number_448    1.000000
number_451    1.000000
number_491    1.000000
Name: number_451, dtype: float64
number_129    1.000000
number_130    1.000000
number_318    1.000000
number_452    1.000000
number_478    1.000000
number_479    1.000000
number_669    0.999970
number_670    0.997135
number_671    0.989741
Name: number_452, dtype: float64
number_216    1.000000
number_453    1.000000
number_455    0.985457
Name: number_453, dtype: float64
number_129    1.000000
number_130    1.000000
number_306    0.981127
number_307    0.973684
number_318    1.000000
number_454    1.000000
number_478    1.000000
number_479    1.000000
number_675    0.999897
number_676    0.998631
number_677    0.988303
Name: number_454, dtype: float64
number_453    0.985457
number_455    1.000000
number_474    1.000000
number_475    1.000000
number_478    0.963380
Name: number_455, dtype: float64
number_310    1.000000
number_456    1.000000
number_488    0.987479
number_489    0.987479
number_490    0.987479
number_491    1.000000
Name: number_456, dtype: float64
number_139    1.000000
number_140    1.000000
number_215    1.000000
number_306    0.999042
number_307    0.997406
number_318    1.000000
number_457    1.000000
number_495    0.999997
Name: number_457, dtype: float64
number_125    1.000000
number_216    0.998778
number_302    0.993717
number_433    1.000000
number_458    1.000000
number_472    1.000000
number_473    1.000000
number_478    1.000000
number_479    1.000000
Name: number_458, dtype: float64
number_241    0.999712
number_318    1.000000
number_459    1.000000
Name: number_459, dtype: float64
number_227    1.000000
number_460    1.000000
number_591    0.999790
number_592    0.999596
number_593    0.998161
Name: number_460, dtype: float64
number_215    0.987099
number_227    1.000000
number_461    1.000000
Name: number_461, dtype: float64
number_137    1.0
number_462    1.0
number_476    1.0
number_477    1.0

Name: number_462, dtype: float64
number_137    1.0
number_463    1.0
Name: number_463, dtype: float64
number_310    1.000000
number_447    0.991982
number_464    1.000000
number_663    0.978961
Name: number_464, dtype: float64
number_236    1.000000
number_237    1.000000
number_465    1.000000
number_475    1.000000
number_476    0.968301
number_477    0.964860
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_465, dtype: float64
number_137    1.000000
number_350    0.998137
number_466    1.000000
number_478    1.000000
number_491    1.000000
Name: number_466, dtype: float64
number_137    1.0
number_310    1.0
number_467    1.0
number_479    1.0
Name: number_467, dtype: float64
number_468    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_612    0.999635
number_613    0.998941
number_614    0.992649
Name: number_468, dtype: float64
number_215    0.994149
number_469    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
Name: number_469, dtype: float64
number_139    1.000000
number_140    1.000000
number_350    1.000000
number_470    1.000000
number_476    0.961221
number_478    0.986039
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
Name: number_470, dtype: float64
number_238    0.987871
number_345    0.978813
number_471    1.000000
Name: number_471, dtype: float64
number_191    1.000000
number_223    0.987464
number_250    0.970725
number_318    1.000000
number_458    1.000000
number_472    1.000000
number_478    1.000000
Name: number_472, dtype: float64
number_250    1.0
number_254    1.0
number_318    1.0
number_458    1.0
number_473    1.0
number_478    1.0
Name: number_473, dtype: float64
number_191    1.0
number_247    1.0
number_310    1.0
number_455    1.0
number_474    1.0
Name: number_474, dtype: float64
number_189    0.975158
number_190    0.983319
number_191    1.000000
number_225    1.000000
number_226    1.000000
number_247    1.000000
number_310    1.000000
number_328    1.000000
number_329    1.000000
number_343    0.979076
number_455    1.000000
number_465    1.000000
number_475    1.000000
Name: number_475, dtype: float64
number_119    1.000000
number_121    1.000000
number_145    0.997726
number_150    1.000000
number_187    1.000000
number_193    1.000000
number_223    1.000000
number_238    1.000000
number_239    1.000000
number_268    1.000000
number_271    1.000000
number_273    1.000000
number_278    1.000000
number_292    0.963928
number_293    0.993596
number_294    0.963928
number_295    0.993596
number_332    1.000000
number_333    1.000000
number_340    1.000000
number_462    1.000000
number_465    0.968301
number_470    0.961221
number_476    1.000000
number_477    0.979057
Name: number_476, dtype: float64
number_106    0.998194
number_109    0.998194
number_119    1.000000
number_121    1.000000
number_145    0.997726
number_150    1.000000
number_187    1.000000
number_193    1.000000
number_223    1.000000
number_238    1.000000
number_239    1.000000
number_268    1.000000
number_271    1.000000
number_273    1.000000
number_278    1.000000
number_293    0.984324
number_295    0.984324
number_332    1.000000
number_333    1.000000
number_340    1.000000
number_462    1.000000
number_465    0.964860
number_476    0.979057
number_477    1.000000
Name: number_477, dtype: float64
number_106    1.000000
number_109    1.000000
number_119    1.000000
number_145    1.000000
number_187    0.988678
number_223    1.000000
number_224    1.000000
number_254    1.000000
number_255    1.000000
number_298    0.994192
number_380    0.981981
number_381    0.981981
number_382    0.981981
number_396    0.981981
number_397    0.981981
number_398    0.981981
number_452    1.000000
number_454    1.000000
number_455    0.963380
number_458    1.000000
number_466    1.000000
number_470    0.986039
number_472    1.000000
number_473    1.000000
number_478    1.000000
Name: number_478, dtype: float64
number_119    1.000000
number_121    0.978110
number_145    1.000000
number_150    0.960323
number_207    0.994044
number_209    0.979039
number_210    0.979039
number_213    0.979039
number_383    0.966002
number_385    0.966002
number_399    0.966002
number_401    0.966002
number_452    1.000000
number_454    1.000000
number_458    1.000000
number_467    1.000000
number_479    1.000000
number_497    0.986751
Name: number_479, dtype: float64
number_227    1.0
number_310    1.0
number_429    1.0
number_480    1.0
Name: number_480, dtype: float64
number_481    1.0
Name: number_481, dtype: float64
number_227    1.0
number_310    1.0
number_429    1.0
number_482    1.0
Name: number_482, dtype: float64
number_483    1.0
Name: number_483, dtype: float64
number_310    1.0
number_484    1.0
number_491    1.0
Name: number_484, dtype: float64
number_129    0.987768
number_130    0.998176
number_485    1.000000
Name: number_485, dtype: float64
number_486    1.0
Name: number_486, dtype: float64
number_310    1.000000
number_318    0.988597
number_487    1.000000
number_491    1.000000
Name: number_487, dtype: float64
number_5      0.977204
number_125    1.000000
number_128    0.981981
number_135    1.000000
number_187    1.000000
number_188    1.000000
number_190    1.000000
number_222    0.999733
number_226    0.996078
number_258    1.000000
number_268    1.000000
number_271    1.000000
number_273    1.000000
number_278    1.000000
number_301    1.000000
number_329    0.998625
number_337    1.000000
number_339    1.000000
number_378    1.000000
number_379    1.000000
number_383    1.000000
number_385    1.000000
number_386    1.000000
number_387    1.000000
number_393    1.000000
number_394    1.000000
number_395    1.000000
number_396    1.000000
number_399    1.000000
number_401    1.000000
number_402    1.000000
number_403    1.000000
number_409    1.000000
number_456    0.987479
number_465    1.000000
number_468    1.000000
number_469    1.000000
number_470    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
Name: number_488, dtype: float64
number_5      0.977204
number_125    1.000000
number_128    0.981981
number_135    1.000000
number_187    1.000000
number_188    1.000000
number_190    1.000000
number_222    0.999733
number_226    0.996078
number_258    1.000000
number_268    1.000000
number_271    1.000000
number_273    1.000000
number_278    1.000000
number_301    1.000000
number_329    0.998625
number_337    1.000000
number_339    1.000000
number_378    1.000000
number_379    1.000000
number_383    1.000000
number_385    1.000000
number_386    1.000000
number_387    1.000000
number_393    1.000000
number_394    1.000000
number_395    1.000000
number_396    1.000000
number_399    1.000000
number_401    1.000000
number_402    1.000000
number_403    1.000000
number_409    1.000000
number_456    0.987479
number_465    1.000000
number_468    1.000000
number_469    1.000000
number_470    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
Name: number_489, dtype: float64
number_5      0.977204
number_125    1.000000
number_128    0.981981
number_135    1.000000
number_187    1.000000
number_188    1.000000
number_190    1.000000
number_222    0.999733
number_226    0.996078
number_258    1.000000
number_268    1.000000
number_271    1.000000
number_273    1.000000
number_278    1.000000
number_301    1.000000
number_329    0.998625
number_337    1.000000
number_339    1.000000
number_378    1.000000
number_379    1.000000
number_383    1.000000
number_385    1.000000
number_386    1.000000
number_387    1.000000
number_393    1.000000
number_394    1.000000
number_395    1.000000
number_396    1.000000
number_399    1.000000
number_401    1.000000
number_402    1.000000
number_403    1.000000
number_409    1.000000
number_456    0.987479
number_465    1.000000
number_468    1.000000
number_469    1.000000
number_470    1.000000
number_488    1.000000
number_489    1.000000
number_490    1.000000
number_491    1.000000
Name: number_490, dtype: float64
number_3      1.0
number_5      1.0
number_6      1.0
number_7      1.0
number_8      1.0
number_9      1.0
number_10     1.0
number_11     1.0
number_12     1.0
number_13     1.0
number_16     1.0
number_17     1.0
number_22     1.0
number_23     1.0
number_25     1.0
number_44     1.0
number_45     1.0
number_46     1.0
number_47     1.0
number_57     1.0
number_59     1.0
number_64     1.0
number_65     1.0
number_67     1.0
number_79     1.0
number_98     1.0
number_116    1.0
number_124    1.0
number_141    1.0
number_142    1.0
             ...
number_681    1.0
number_682    1.0
number_683    1.0
number_684    1.0
number_687    1.0
number_688    1.0
number_689    1.0
number_690    1.0
number_691    1.0
number_692    1.0
number_696    1.0
number_697    1.0
number_698    1.0
number_731    1.0
number_738    1.0
number_739    1.0
number_740    1.0
number_741    1.0
number_742    1.0
number_743    1.0
number_744    1.0
number_745    1.0
number_746    1.0
number_747    1.0
number_748    1.0
number_749    1.0
number_750    1.0
number_751    1.0
number_752    1.0
line_id       1.0
Name: number_491, Length: 188, dtype: float64
number_129    0.985134
number_130    0.992278
number_266    1.000000
number_492    1.000000
number_493    0.999335
number_494    0.991473
Name: number_492, dtype: float64
number_129    0.985134
number_130    0.992278
number_266    0.999335
number_492    0.999335
number_493    1.000000
number_494    0.993822
Name: number_493, dtype: float64
number_129    0.985134
number_130    0.992278
number_266    0.991473
number_492    0.991473
number_493    0.993822
number_494    1.000000
Name: number_494, dtype: float64
number_129    0.985134
number_130    0.992278
number_307    0.994046
number_318    0.982500
number_457    0.999997
number_495    1.000000
Name: number_495, dtype: float64
number_129    0.985134
number_130    0.992278
number_307    0.995242
number_318    0.961654
number_429    1.000000
number_496    1.000000
number_497    0.970880
Name: number_496, dtype: float64
number_129    0.985134
number_130    0.992278
number_307    0.986753
number_318    0.952553
number_429    1.000000
number_479    0.986751
number_496    0.970880
number_497    1.000000
Name: number_497, dtype: float64
number_310    1.000000
number_498    1.000000
number_507    0.970607
number_510    0.983129
Name: number_498, dtype: float64
number_310    1.000000
number_499    1.000000
number_511    0.960795
Name: number_499, dtype: float64
number_310    1.0
number_500    1.0
Name: number_500, dtype: float64
number_310    1.00000
number_501    1.00000
number_502    0.95044
Name: number_501, dtype: float64
number_310    1.00000
number_501    0.95044
number_502    1.00000
number_503    0.95698
Name: number_502, dtype: float64
number_502    0.95698
number_503    1.00000
Name: number_503, dtype: float64
number_227    1.0
number_310    1.0
number_429    1.0
number_504    1.0
Name: number_504, dtype: float64
number_129    0.981391
number_130    0.984441
number_227    1.000000
number_429    1.000000
number_505    1.000000
Name: number_505, dtype: float64
number_130    0.950695
number_310    1.000000
number_429    1.000000
number_506    1.000000
Name: number_506, dtype: float64
number_310    1.000000
number_498    0.970607
number_507    1.000000
number_508    0.959954
number_510    0.976410
Name: number_507, dtype: float64
number_310    1.000000
number_507    0.959954
number_508    1.000000
number_511    0.960884
Name: number_508, dtype: float64
number_310    1.0
number_509    1.0
Name: number_509, dtype: float64
number_310    1.000000
number_429    1.000000
number_498    0.983129
number_507    0.976410
number_510    1.000000
Name: number_510, dtype: float64
number_310    1.000000
number_429    1.000000
number_499    0.960795
number_508    0.960884
number_511    1.000000
number_512    0.951711
Name: number_511, dtype: float64
number_310    1.000000
number_429    1.000000
number_511    0.951711
number_512    1.000000
Name: number_512, dtype: float64
number_429    1.000000
number_513    1.000000
number_514    0.970466
number_522    0.975199
number_523    0.976919
number_524    0.973247
Name: number_513, dtype: float64
number_429    1.000000
number_513    0.970466
number_514    1.000000
Name: number_514, dtype: float64
number_429    1.0
number_515    1.0
Name: number_515, dtype: float64
number_429    1.0
number_516    1.0
Name: number_516, dtype: float64
number_429    1.0
number_517    1.0
Name: number_517, dtype: float64
number_429    1.0
number_518    1.0
Name: number_518, dtype: float64
number_429    1.00000
number_519    1.00000
number_520    0.97536
Name: number_519, dtype: float64
number_429    1.000000
number_519    0.975360
number_520    1.000000
number_521    0.961098
Name: number_520, dtype: float64
number_429    1.000000
number_520    0.961098
number_521    1.000000
Name: number_521, dtype: float64
number_429    1.000000
number_513    0.975199
number_522    1.000000
number_523    0.997600
number_524    0.975995
number_525    0.957247
Name: number_522, dtype: float64
number_429    1.000000
number_513    0.976919
number_522    0.997600
number_523    1.000000
number_524    0.981207
number_525    0.951561
Name: number_523, dtype: float64
number_429    1.000000
number_513    0.973247
number_522    0.975995
number_523    0.981207
number_524    1.000000
Name: number_524, dtype: float64
number_429    1.000000
number_522    0.957247
number_523    0.951561
number_525    1.000000
number_526    0.989666
number_527    0.959013
Name: number_525, dtype: float64
number_429    1.000000
number_525    0.989666
number_526    1.000000
number_527    0.972598
Name: number_526, dtype: float64
number_429    1.000000
number_525    0.959013
number_526    0.972598
number_527    1.000000
Name: number_527, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_528    1.000000
number_537    0.959269
number_540    0.952649
Name: number_528, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_529    1.000000
number_530    0.958735
Name: number_529, dtype: float64
number_110    0.955814
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_529    0.958735
number_530    1.000000
Name: number_530, dtype: float64
number_227    1.0
number_310    1.0
number_429    1.0
number_531    1.0
Name: number_531, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_532    1.000000
number_533    0.951667
Name: number_532, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_532    0.951667
number_533    1.000000
Name: number_533, dtype: float64
number_227    1.0
number_491    1.0
number_534    1.0
Name: number_534, dtype: float64
number_227    1.0
number_491    1.0
number_535    1.0
Name: number_535, dtype: float64
number_227    1.0
number_536    1.0
Name: number_536, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_528    0.959269
number_537    1.000000
number_540    0.977027
Name: number_537, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_538    1.000000
number_539    0.963272

Name: number_538, dtype: float64
number_227    1.000000
number_310    1.000000
number_538    0.963272
number_539    1.000000
Name: number_539, dtype: float64
number_227    1.000000
number_310    1.000000
number_528    0.952649
number_537    0.977027
number_540    1.000000
Name: number_540, dtype: float64
number_227    1.0
number_310    1.0
number_429    1.0
number_541    1.0
Name: number_541, dtype: float64
number_227    1.0
number_310    1.0
number_542    1.0
Name: number_542, dtype: float64
number_429    1.000000
number_491    1.000000
number_543    1.000000
number_544    0.966327
number_549    0.977600
number_550    0.953208
number_552    0.961535
number_555    0.979602
number_556    0.965765
Name: number_543, dtype: float64
number_429    1.000000
number_491    1.000000
number_543    0.966327
number_544    1.000000
number_545    0.965779
number_549    0.956393
number_556    0.957717
Name: number_544, dtype: float64
number_429    1.000000
number_491    1.000000
number_544    0.965779
number_545    1.000000
Name: number_545, dtype: float64
number_429    1.000000
number_491    1.000000
number_546    1.000000
number_547    0.980166
Name: number_546, dtype: float64
number_429    1.000000
number_491    1.000000
number_546    0.980166
number_547    1.000000
number_548    0.959847
Name: number_547, dtype: float64
number_429    1.000000
number_491    1.000000
number_547    0.959847
number_548    1.000000
Name: number_548, dtype: float64
number_429    1.000000
number_491    1.000000
number_543    0.977600
number_544    0.956393
number_549    1.000000
number_550    0.984052
number_552    0.951756
number_555    0.984464
number_556    0.969292
Name: number_549, dtype: float64
number_429    1.000000
number_491    1.000000
number_543    0.953208
number_549    0.984052
number_550    1.000000
number_555    0.964732
number_556    0.979514
Name: number_550, dtype: float64
number_429    1.0
number_491    1.0
number_551    1.0
Name: number_551, dtype: float64
number_217    0.992879
number_429    1.000000
number_491    1.000000
number_543    0.961535
number_549    0.951756
number_552    1.000000
number_553    0.973904
number_555    0.990594
number_556    0.967712
Name: number_552, dtype: float64
number_217    0.992879
number_429    1.000000
number_491    1.000000
number_552    0.973904
number_553    1.000000
number_555    0.964646
number_556    0.985115
Name: number_553, dtype: float64
number_429    1.0
number_491    1.0
number_554    1.0
Name: number_554, dtype: float64
number_217    0.989216
number_429    1.000000
number_491    1.000000
number_543    0.979602
number_549    0.984464
number_550    0.964732
number_552    0.990594
number_553    0.964646
number_555    1.000000
number_556    0.980343
Name: number_555, dtype: float64
number_217    0.987183
number_429    1.000000
number_491    1.000000
number_543    0.965765
number_544    0.957717
number_549    0.969292
number_550    0.979514
number_552    0.967712
number_553    0.985115
number_555    0.980343
number_556    1.000000
Name: number_556, dtype: float64
number_217    0.976656
number_429    1.000000
number_491    1.000000
number_557    1.000000
Name: number_557, dtype: float64
number_137    0.998005
number_345    0.956562
number_429    1.000000
number_491    1.000000
number_558    1.000000
Name: number_558, dtype: float64
number_137    0.998005
number_429    1.000000
number_491    1.000000
number_559    1.000000
Name: number_559, dtype: float64
number_137    0.998005
number_429    1.000000
number_491    1.000000
number_560    1.000000
Name: number_560, dtype: float64
number_137    0.998005
number_491    1.000000
number_561    1.000000
Name: number_561, dtype: float64
number_137    0.998005
number_491    1.000000
number_562    1.000000
Name: number_562, dtype: float64
number_137    0.998005
number_429    1.000000
number_491    1.000000
number_563    1.000000
Name: number_563, dtype: float64
number_137    0.998005
number_345    1.000000
number_429    1.000000
number_491    1.000000
number_564    1.000000
number_567    1.000000
number_570    1.000000
Name: number_564, dtype: float64
number_137    0.998005
number_345    0.999484
number_429    1.000000
number_491    1.000000
number_565    1.000000
number_568    0.999888
number_571    0.999946
Name: number_565, dtype: float64
number_137    0.998005
number_345    0.993773
number_429    1.000000
number_491    1.000000
number_566    1.000000
number_569    0.998766
number_572    0.999376
Name: number_566, dtype: float64
number_137    0.998005
number_345    1.000000
number_429    1.000000
number_491    1.000000
number_564    1.000000
number_567    1.000000
number_570    1.000000
Name: number_567, dtype: float64
number_137    0.998005
number_345    1.000000
number_429    1.000000
number_491    1.000000
number_565    0.999888
number_568    1.000000
number_571    0.999989
Name: number_568, dtype: float64
number_137    0.998005
number_345    1.000000
number_429    1.000000
number_491    1.000000
number_566    0.998766
number_569    1.000000
number_572    0.999869
Name: number_569, dtype: float64
number_137    0.998005
number_345    1.000000
number_429    1.000000
number_491    1.000000
number_564    1.000000
number_567    1.000000
number_570    1.000000
Name: number_570, dtype: float64
number_137    0.998005
number_345    0.999949
number_429    1.000000
number_491    1.000000
number_565    0.999946
number_568    0.999989
number_571    1.000000
Name: number_571, dtype: float64
number_137    0.998005
number_345    0.999348
number_429    1.000000
number_491    1.000000
number_566    0.999376
number_569    0.999869
number_572    1.000000
Name: number_572, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.988209
number_429    1.000000
number_573    1.000000
number_574    0.974418
number_579    0.960005
number_582    0.954399
number_585    0.999997
number_586    0.974407
Name: number_573, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.987804
number_429    1.000000
number_573    0.974418
number_574    1.000000
number_575    0.976491
number_579    0.958553
number_585    0.974410
number_586    0.999932
number_587    0.976868
Name: number_574, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.994572
number_429    1.000000
number_574    0.976491
number_575    1.000000
number_586    0.976388
number_587    0.999600
Name: number_575, dtype: float64
number_576    1.000000
number_577    0.985935
Name: number_576, dtype: float64
number_576    0.985935
number_577    1.000000
number_578    0.960518
Name: number_577, dtype: float64
number_429    1.000000
number_577    0.960518
number_578    1.000000
Name: number_578, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.981808
number_429    1.000000
number_573    0.960005
number_574    0.958553
number_579    1.000000
number_580    0.965473
number_585    0.960008
number_586    0.958454
Name: number_579, dtype: float64
number_191    0.954019
number_227    1.000000
number_310    1.000000
number_318    0.980955
number_429    1.000000
number_579    0.965473
number_580    1.000000
number_581    0.967468
Name: number_580, dtype: float64
number_310    1.000000
number_318    0.992371
number_429    1.000000
number_580    0.967468
number_581    1.000000
Name: number_581, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.990912
number_573    0.954399
number_582    1.000000
number_585    0.954400
Name: number_582, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.992799
number_583    1.000000
number_584    0.951640
Name: number_583, dtype: float64
number_227    1.00000
number_310    1.00000
number_429    1.00000
number_583    0.95164
number_584    1.00000
Name: number_584, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.988209
number_429    1.000000
number_573    0.999997
number_574    0.974410
number_579    0.960008
number_582    0.954400
number_585    1.000000
number_586    0.974410
Name: number_585, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.987804
number_429    1.000000
number_573    0.974407
number_574    0.999932
number_575    0.976388
number_579    0.958454
number_585    0.974410
number_586    1.000000
number_587    0.976948
Name: number_586, dtype: float64
number_227    1.000000
number_310    1.000000
number_318    0.994572
number_429    1.000000
number_574    0.976868
number_575    0.999600
number_586    0.976948
number_587    1.000000
Name: number_587, dtype: float64
number_588    1.000000
number_589    0.995265
number_590    0.979300
Name: number_588, dtype: float64
number_588    0.995265
number_589    1.000000
number_590    0.990381
Name: number_589, dtype: float64
number_429    1.000000
number_588    0.979300
number_589    0.990381
number_590    1.000000
Name: number_590, dtype: float64
number_227    1.000000
number_460    0.999790
number_591    1.000000
number_592    0.997205
number_593    0.995891
Name: number_591, dtype: float64
number_227    1.000000
number_460    0.999596
number_591    0.997205
number_592    1.000000
number_593    0.999296
Name: number_592, dtype: float64
number_227    1.000000
number_460    0.998161
number_591    0.995891
number_592    0.999296
number_593    1.000000
Name: number_593, dtype: float64
number_94     0.983965
number_310    1.000000
number_376    0.984563
number_429    1.000000
number_491    1.000000
number_594    1.000000
number_595    0.978921
number_600    0.976566
number_603    0.984497
number_604    0.984334
number_605    0.983836
number_606    0.987604
number_607    0.972164
Name: number_594, dtype: float64
number_94     0.955479
number_310    1.000000
number_376    0.955813
number_429    1.000000
number_491    1.000000
number_594    0.978921
number_595    1.000000
number_596    0.955616
number_600    0.953677
number_603    0.955759
number_604    0.955601
number_605    0.955105
number_606    0.959938
number_607    0.976787
Name: number_595, dtype: float64
number_310    1.000000
number_429    1.000000
number_491    1.000000
number_595    0.955616
number_596    1.000000
number_608    0.968749
Name: number_596, dtype: float64
number_597    1.0
Name: number_597, dtype: float64
number_598    1.0
Name: number_598, dtype: float64
number_429    1.0
number_599    1.0
Name: number_599, dtype: float64
number_94     0.972091
number_310    1.000000
number_376    0.972573
number_429    1.000000
number_491    1.000000
number_594    0.976566
number_595    0.953677
number_600    1.000000
number_603    0.972568
number_604    0.972533
number_605    0.972302
number_606    0.990527
number_607    0.981020
Name: number_600, dtype: float64
number_310    1.0
number_429    1.0
number_491    1.0
number_601    1.0
Name: number_601, dtype: float64
number_310    1.0
number_429    1.0
number_491    1.0
number_602    1.0
Name: number_602, dtype: float64
number_94     0.999388
number_310    1.000000
number_376    0.999968
number_429    1.000000
number_491    1.000000
number_594    0.984497
number_595    0.955759
number_600    0.972568
number_603    1.000000
number_604    0.999939
number_605    0.999643
number_606    0.994961
number_607    0.976108
Name: number_603, dtype: float64
number_94     0.999444
number_310    1.000000
number_376    0.999898
number_429    1.000000
number_491    1.000000
number_594    0.984334
number_595    0.955601
number_600    0.972533
number_603    0.999939
number_604    1.000000
number_605    0.999729
number_606    0.994910
number_607    0.976131
Name: number_604, dtype: float64
number_94     0.999296
number_310    1.000000
number_376    0.999583
number_429    1.000000
number_491    1.000000
number_594    0.983836
number_595    0.955105
number_600    0.972302
number_603    0.999643
number_604    0.999729
number_605    1.000000
number_606    0.994638
number_607    0.976000
Name: number_605, dtype: float64
number_94     0.994401
number_310    1.000000
number_376    0.994952
number_429    1.000000
number_491    1.000000
number_594    0.987604
number_595    0.959938
number_600    0.990527
number_603    0.994961
number_604    0.994910
number_605    0.994638
number_606    1.000000
number_607    0.984185
Name: number_606, dtype: float64
number_94     0.975807
number_310    1.000000
number_376    0.976067
number_429    1.000000
number_491    1.000000
number_594    0.972164
number_595    0.976787
number_600    0.981020
number_603    0.976108
number_604    0.976131
number_605    0.976000
number_606    0.984185
number_607    1.000000
number_608    0.961653
Name: number_607, dtype: float64
number_310    1.000000
number_429    1.000000
number_491    1.000000
number_596    0.968749
number_607    0.961653
number_608    1.000000
Name: number_608, dtype: float64
number_63     0.987433
number_227    1.000000
number_609    1.000000
number_610    0.991443
number_611    0.963291
Name: number_609, dtype: float64
number_63     0.972244
number_227    1.000000
number_609    0.991443
number_610    1.000000
number_611    0.983525
Name: number_610, dtype: float64
number_227    1.000000
number_609    0.963291
number_610    0.983525
number_611    1.000000
Name: number_611, dtype: float64
number_227    1.000000
number_468    0.999635
number_612    1.000000
number_613    0.999504
number_614    0.996030
Name: number_612, dtype: float64
number_227    1.000000
number_468    0.998941
number_612    0.999504
number_613    1.000000
number_614    0.997947
Name: number_613, dtype: float64
number_227    1.000000
number_468    0.992649
number_612    0.996030
number_613    0.997947
number_614    1.000000
Name: number_614, dtype: float64
number_129    0.989549
number_130    0.987703
number_140    0.967284
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_615    1.000000
number_616    0.961550
number_621    0.957280
number_624    0.975541
number_625    0.963311
number_626    0.960758
number_627    0.981225
number_628    0.953543
Name: number_615, dtype: float64
number_129    0.980027
number_130    0.971909
number_140    0.956587
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_615    0.961550
number_616    1.000000
number_617    0.954406
Name: number_616, dtype: float64
number_129    0.983680
number_130    0.983759
number_140    0.976665
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_616    0.954406
number_617    1.000000
Name: number_617, dtype: float64
number_129    0.963333
number_137    0.998005
number_310    1.000000
number_429    1.000000
number_618    1.000000
Name: number_618, dtype: float64
number_137    0.998005
number_310    1.000000
number_429    1.000000
number_619    1.000000

Name: number_619, dtype: float64
number_137    0.998005
number_310    1.000000
number_429    1.000000
number_620    1.000000
Name: number_620, dtype: float64
number_129    0.985103
number_130    0.965148
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_615    0.957280
number_621    1.000000
number_627    0.982528
number_628    0.968568
Name: number_621, dtype: float64
number_129    0.957599
number_227    1.000000
number_429    1.000000
number_622    1.000000
Name: number_622, dtype: float64
number_129    0.957599
number_139    0.950833
number_227    1.000000
number_429    1.000000
number_623    1.000000
Name: number_623, dtype: float64
number_129    0.985103
number_130    0.965148
number_227    1.000000
number_301    0.952276
number_429    1.000000
number_491    1.000000
number_615    0.975541
number_624    1.000000
number_625    0.987496
number_626    0.983229
number_627    0.988286
number_628    0.963580
Name: number_624, dtype: float64
number_129    0.957599
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_615    0.963311
number_624    0.987496
number_625    1.000000
number_626    0.995362
number_627    0.976093
number_628    0.972242
number_629    0.951492
Name: number_625, dtype: float64
number_129    0.957599
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_615    0.960758
number_624    0.983229
number_625    0.995362
number_626    1.000000
number_627    0.972821
number_628    0.969499
number_629    0.957356
Name: number_626, dtype: float64
number_129    0.985103
number_130    0.965148
number_227    1.000000
number_301    0.971343
number_429    1.000000
number_491    1.000000
number_615    0.981225
number_621    0.982528
number_624    0.988286
number_625    0.976093
number_626    0.972821
number_627    1.000000
number_628    0.979137
number_629    0.953008
Name: number_627, dtype: float64
number_129    0.957599
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_615    0.953543
number_621    0.968568
number_624    0.963580
number_625    0.972242
number_626    0.969499
number_627    0.979137
number_628    1.000000
number_629    0.984836
Name: number_628, dtype: float64
number_129    0.957599
number_227    1.000000
number_429    1.000000
number_491    1.000000
number_625    0.951492
number_626    0.957356
number_627    0.953008
number_628    0.984836
number_629    1.000000
Name: number_629, dtype: float64
number_322    0.963467
number_630    1.000000
number_639    0.963511
Name: number_630, dtype: float64
number_491    1.00000
number_631    1.00000
number_640    0.96208
Name: number_631, dtype: float64
number_227    1.0
number_310    1.0
number_491    1.0
number_632    1.0
Name: number_632, dtype: float64
number_633    1.0
Name: number_633, dtype: float64
number_491    1.0
number_634    1.0
Name: number_634, dtype: float64
number_227    1.0
number_310    1.0
number_491    1.0
number_635    1.0
Name: number_635, dtype: float64
number_322    0.963467
number_636    1.000000
Name: number_636, dtype: float64
number_322    0.959527
number_491    1.000000
number_637    1.000000
Name: number_637, dtype: float64
number_227    1.0
number_491    1.0
number_638    1.0
Name: number_638, dtype: float64
number_322    0.963467
number_630    0.963511
number_639    1.000000
number_642    0.964055
Name: number_639, dtype: float64
number_491    1.00000
number_631    0.96208
number_640    1.00000
Name: number_640, dtype: float64
number_227    1.0
number_491    1.0
number_641    1.0
Name: number_641, dtype: float64
number_322    0.963467
number_639    0.964055
number_642    1.000000
Name: number_642, dtype: float64
number_491    1.0
number_643    1.0
Name: number_643, dtype: float64
number_227    1.0
number_491    1.0
number_644    1.0
Name: number_644, dtype: float64
number_145    0.971620
number_151    0.983198
number_429    1.000000
number_491    1.000000
number_645    1.000000
number_646    0.982879
number_647    0.961685
number_651    0.987335
number_652    0.959012
number_654    0.984513
number_655    0.957273
number_657    0.994641
number_658    0.972983
number_659    0.956934
Name: number_645, dtype: float64
number_429    1.000000
number_491    1.000000
number_645    0.982879
number_646    1.000000
number_647    0.983229
number_651    0.965407
number_652    0.960986
number_654    0.984886
number_655    0.979679
number_656    0.967903
number_657    0.981086
number_658    0.991024
number_659    0.975340
Name: number_646, dtype: float64
number_429    1.000000
number_491    1.000000
number_645    0.961685
number_646    0.983229
number_647    1.000000
number_654    0.959356
number_655    0.961908
number_656    0.959244
number_657    0.956434
number_658    0.972974
number_659    0.971697
Name: number_647, dtype: float64
number_491    1.000000
number_648    1.000000
number_649    0.986737
Name: number_648, dtype: float64
number_491    1.000000
number_648    0.986737
number_649    1.000000
number_650    0.973160
Name: number_649, dtype: float64
number_429    1.00000
number_491    1.00000
number_649    0.97316
number_650    1.00000
Name: number_650, dtype: float64
number_145    0.975440
number_151    0.984722
number_429    1.000000
number_491    1.000000
number_645    0.987335
number_646    0.965407
number_651    1.000000
number_652    0.969275
number_654    0.967008
number_657    0.993222
number_658    0.964057
number_659    0.950336
Name: number_651, dtype: float64
number_429    1.000000
number_491    1.000000
number_645    0.959012
number_646    0.960986
number_651    0.969275
number_652    1.000000
number_653    0.958586
number_657    0.965004
number_658    0.968560
number_659    0.953901
Name: number_652, dtype: float64
number_429    1.000000
number_491    1.000000
number_652    0.958586
number_653    1.000000
number_659    0.957570
Name: number_653, dtype: float64
number_151    0.956205
number_429    1.000000
number_491    1.000000
number_645    0.984513
number_646    0.984886
number_647    0.959356
number_651    0.967008
number_654    1.000000
number_655    0.982371
number_656    0.970746
number_657    0.989215
number_658    0.984398
number_659    0.968732
Name: number_654, dtype: float64
number_429    1.000000
number_491    1.000000
number_645    0.957273
number_646    0.979679
number_647    0.961908
number_654    0.982371
number_655    1.000000
number_656    0.990112
number_657    0.964981
number_658    0.989414
number_659    0.978300
Name: number_655, dtype: float64
number_429    1.000000
number_491    1.000000
number_646    0.967903
number_647    0.959244
number_654    0.970746
number_655    0.990112
number_656    1.000000
number_657    0.954014
number_658    0.979513
number_659    0.986478
Name: number_656, dtype: float64
number_145    0.973695
number_151    0.985335
number_429    1.000000
number_491    1.000000
number_645    0.994641
number_646    0.981086
number_647    0.956434
number_651    0.993222
number_652    0.965004
number_654    0.989215
number_655    0.964981
number_656    0.954014
number_657    1.000000
number_658    0.980423
number_659    0.965747
Name: number_657, dtype: float64
number_429    1.000000
number_491    1.000000
number_645    0.972983
number_646    0.991024
number_647    0.972974
number_651    0.964057
number_652    0.968560
number_654    0.984398
number_655    0.989414
number_656    0.979513
number_657    0.980423
number_658    1.000000
number_659    0.986630
Name: number_658, dtype: float64
number_429    1.000000
number_491    1.000000
number_645    0.956934
number_646    0.975340
number_647    0.971697
number_651    0.950336
number_652    0.953901
number_653    0.957570
number_654    0.968732
number_655    0.978300
number_656    0.986478
number_657    0.965747
number_658    0.986630
number_659    1.000000
Name: number_659, dtype: float64
number_660    1.0
Name: number_660, dtype: float64
number_661    1.0
Name: number_661, dtype: float64
number_429    1.0
number_662    1.0
Name: number_662, dtype: float64
number_227    1.000000
number_310    1.000000
number_447    0.986899
number_464    0.978961
number_663    1.000000
number_664    0.979885
Name: number_663, dtype: float64
number_227    1.000000
number_310    1.000000
number_447    0.956312
number_663    0.979885
number_664    1.000000
Name: number_664, dtype: float64
number_227    1.0
number_310    1.0
number_429    1.0
number_665    1.0
Name: number_665, dtype: float64
number_137    0.998005
number_156    0.996978
number_666    1.000000
number_667    0.993038
number_668    0.968144
Name: number_666, dtype: float64
number_137    0.998005
number_156    0.985823
number_666    0.993038
number_667    1.000000
number_668    0.983205
Name: number_667, dtype: float64
number_137    0.998005
number_156    0.958972
number_429    1.000000
number_666    0.968144
number_667    0.983205
number_668    1.000000
Name: number_668, dtype: float64
number_137    0.998005
number_452    0.999970
number_669    1.000000
number_670    0.986753
number_671    0.976540
Name: number_669, dtype: float64
number_137    0.998005
number_452    0.997135
number_669    0.986753
number_670    1.000000
number_671    0.991558
Name: number_670, dtype: float64
number_137    0.998005
number_452    0.989741
number_669    0.976540
number_670    0.991558
number_671    1.000000
Name: number_671, dtype: float64
number_137    0.998005
number_158    0.979585
number_429    1.000000
number_672    1.000000
number_673    0.978114
Name: number_672, dtype: float64
number_137    0.998005
number_158    0.955546
number_429    1.000000
number_672    0.978114
number_673    1.000000
number_674    0.973457
Name: number_673, dtype: float64
number_137    0.998005
number_429    1.000000
number_673    0.973457
number_674    1.000000
Name: number_674, dtype: float64
number_137    0.998005
number_429    1.000000
number_454    0.999897
number_675    1.000000
number_676    0.987542
number_677    0.965143
Name: number_675, dtype: float64
number_137    0.998005
number_429    1.000000
number_454    0.998631
number_675    0.987542
number_676    1.000000
number_677    0.978885
Name: number_676, dtype: float64
number_137    0.998005
number_429    1.000000
number_454    0.988303
number_675    0.965143
number_676    0.978885
number_677    1.000000
Name: number_677, dtype: float64
number_429    1.000000
number_491    1.000000
number_678    1.000000
number_687    0.967904
number_690    0.967539
Name: number_678, dtype: float64
number_491    1.000000
number_679    1.000000
number_680    0.971117
number_688    0.957264
number_691    0.970481
number_692    0.953084
Name: number_679, dtype: float64
number_429    1.000000
number_491    1.000000
number_679    0.971117
number_680    1.000000
number_692    0.967444
Name: number_680, dtype: float64
number_491    1.000000
number_681    1.000000
number_682    0.952535
Name: number_681, dtype: float64
number_491    1.000000
number_681    0.952535
number_682    1.000000
number_683    0.951429
Name: number_682, dtype: float64
number_491    1.000000
number_682    0.951429
number_683    1.000000
Name: number_683, dtype: float64
number_491    1.0
number_684    1.0
Name: number_684, dtype: float64
number_685    1.0
Name: number_685, dtype: float64
number_429    1.0
number_686    1.0
Name: number_686, dtype: float64
number_491    1.000000
number_678    0.967904
number_687    1.000000
number_690    0.977055
Name: number_687, dtype: float64
number_491    1.000000
number_679    0.957264
number_688    1.000000
number_689    0.960692
number_691    0.972523
Name: number_688, dtype: float64
number_429    1.000000
number_491    1.000000
number_688    0.960692
number_689    1.000000
number_692    0.956288
Name: number_689, dtype: float64
number_429    1.000000
number_491    1.000000
number_678    0.967539
number_687    0.977055
number_690    1.000000
Name: number_690, dtype: float64
number_429    1.000000
number_491    1.000000
number_679    0.970481
number_688    0.972523
number_691    1.000000
number_692    0.968877
Name: number_691, dtype: float64
number_429    1.000000
number_491    1.000000
number_679    0.953084
number_680    0.967444
number_689    0.956288
number_691    0.968877
number_692    1.000000
Name: number_692, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_693, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_694, dtype: float64
number_283    0.989311
number_693    0.987469
number_694    0.987469
number_695    1.000000
number_699    0.987469
number_700    0.987469
number_702    0.987469
number_703    0.987469
number_705    0.987469
number_706    0.987469
number_707    0.958233
Name: number_695, dtype: float64
number_136    1.000000
number_491    1.000000
number_696    1.000000
number_697    0.995864
number_698    0.975711
Name: number_696, dtype: float64
number_136    1.000000
number_491    1.000000
number_696    0.995864
number_697    1.000000
number_698    0.986273
Name: number_697, dtype: float64
number_136    0.955018
number_429    1.000000
number_491    1.000000
number_696    0.975711
number_697    0.986273
number_698    1.000000
Name: number_698, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000

Name: number_699, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_700, dtype: float64
number_701    1.0
Name: number_701, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_702, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_703, dtype: float64
number_283    0.970193
number_704    1.000000
number_707    0.978833
Name: number_704, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_705, dtype: float64
number_283    1.000000
number_693    1.000000
number_694    1.000000
number_695    0.987469
number_699    1.000000
number_700    1.000000
number_702    1.000000
number_703    1.000000
number_705    1.000000
number_706    1.000000
Name: number_706, dtype: float64
number_283    0.989311
number_695    0.958233
number_704    0.978833
number_707    1.000000
Name: number_707, dtype: float64
number_154    0.985862
number_227    1.000000
number_426    0.986658
number_429    1.000000
number_708    1.000000
number_714    0.991721
number_717    0.987936
number_720    0.999999
Name: number_708, dtype: float64
number_227    1.000000
number_310    1.000000
number_428    0.977231
number_429    1.000000
number_709    1.000000
number_710    0.996330
number_721    0.999989
number_722    0.996377
Name: number_709, dtype: float64
number_227    1.000000
number_310    1.000000
number_428    0.979746
number_429    1.000000
number_709    0.996330
number_710    1.000000
number_721    0.996319
number_722    0.999939
Name: number_710, dtype: float64
number_711    1.00000
number_712    0.95122
Name: number_711, dtype: float64
number_711    0.951220
number_712    1.000000
number_713    0.990997
Name: number_712, dtype: float64
number_429    1.000000
number_712    0.990997
number_713    1.000000
Name: number_713, dtype: float64
number_154    0.967648
number_227    1.000000
number_426    0.988131
number_429    1.000000
number_708    0.991721
number_714    1.000000
number_717    0.960828
number_720    0.991723
Name: number_714, dtype: float64
number_96     0.953245
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_715    1.000000
number_716    0.995578
Name: number_715, dtype: float64
number_310    1.000000
number_429    1.000000
number_715    0.995578
number_716    1.000000
Name: number_716, dtype: float64
number_154    0.983692
number_227    1.000000
number_310    1.000000
number_426    0.962874
number_429    1.000000
number_708    0.987936
number_714    0.960828
number_717    1.000000
number_720    0.987936
Name: number_717, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_718    1.000000
number_719    0.998178
Name: number_718, dtype: float64
number_227    1.000000
number_310    1.000000
number_429    1.000000
number_718    0.998178
number_719    1.000000
Name: number_719, dtype: float64
number_154    0.985862
number_227    1.000000
number_426    0.986658
number_429    1.000000
number_708    0.999999
number_714    0.991723
number_717    0.987936
number_720    1.000000
Name: number_720, dtype: float64
number_227    1.000000
number_310    1.000000
number_428    0.977209
number_429    1.000000
number_709    0.999989
number_710    0.996319
number_721    1.000000
number_722    0.996389
Name: number_721, dtype: float64
number_227    1.000000
number_310    1.000000
number_428    0.979717
number_429    1.000000
number_709    0.996377
number_710    0.999939
number_721    0.996389
number_722    1.000000
Name: number_722, dtype: float64
number_227    1.000000
number_429    1.000000
number_723    1.000000
number_732    0.954975
number_735    0.994276
Name: number_723, dtype: float64
number_227    1.000000
number_429    1.000000
number_724    1.000000
number_736    0.995644
Name: number_724, dtype: float64
number_227    1.000000
number_429    1.000000
number_725    1.000000
number_737    0.995924
Name: number_725, dtype: float64
number_726    1.000000
number_727    0.959508
Name: number_726, dtype: float64
number_726    0.959508
number_727    1.000000
Name: number_727, dtype: float64
number_429    1.0
number_728    1.0
Name: number_728, dtype: float64
number_227    1.0
number_429    1.0
number_729    1.0
Name: number_729, dtype: float64
number_310    1.0
number_429    1.0
number_730    1.0
Name: number_730, dtype: float64
number_137    0.959712
number_310    1.000000
number_429    1.000000
number_491    1.000000
number_731    1.000000
Name: number_731, dtype: float64
number_227    1.000000
number_429    1.000000
number_723    0.954975
number_732    1.000000
number_735    0.956430
Name: number_732, dtype: float64
number_227    1.0
number_429    1.0
number_733    1.0
Name: number_733, dtype: float64
number_227    1.0
number_429    1.0
number_734    1.0
Name: number_734, dtype: float64
number_227    1.000000
number_429    1.000000
number_723    0.994276
number_732    0.956430
number_735    1.000000
Name: number_735, dtype: float64
number_227    1.000000
number_429    1.000000
number_724    0.995644
number_736    1.000000
Name: number_736, dtype: float64
number_227    1.000000
number_429    1.000000
number_725    0.995924
number_737    1.000000
Name: number_737, dtype: float64
number_393    0.954460
number_429    1.000000
number_491    1.000000
number_738    1.000000
number_739    0.983153
number_740    0.961924
number_744    0.975344
number_747    0.983855
number_750    0.990983
number_751    0.980511
number_752    0.968343
Name: number_738, dtype: float64
number_429    1.000000
number_491    1.000000
number_738    0.983153
number_739    1.000000
number_740    0.992155
number_747    0.971401
number_748    0.956403
number_750    0.969836
number_751    0.981048
number_752    0.976972
Name: number_739, dtype: float64
number_429    1.000000
number_491    1.000000
number_738    0.961924
number_739    0.992155
number_740    1.000000
number_747    0.952093
number_748    0.955151
number_751    0.967443
number_752    0.972037
Name: number_740, dtype: float64
number_491    1.000000
number_741    1.000000
number_742    0.996815
number_743    0.991453
Name: number_741, dtype: float64
number_491    1.000000
number_741    0.996815
number_742    1.000000
number_743    0.997763
Name: number_742, dtype: float64
number_429    1.000000
number_491    1.000000
number_741    0.991453
number_742    0.997763
number_743    1.000000
Name: number_743, dtype: float64
number_393    1.000000
number_429    1.000000
number_491    1.000000
number_738    0.975344
number_744    1.000000
number_745    0.975271
number_746    0.963435
number_747    0.959662
number_750    0.984971
number_751    0.965412
number_752    0.951163
Name: number_744, dtype: float64
number_393    0.956588
number_491    1.000000
number_744    0.975271
number_745    1.000000
number_746    0.987849
number_750    0.960643
number_751    0.953683
Name: number_745, dtype: float64
number_491    1.000000
number_744    0.963435
number_745    0.987849
number_746    1.000000
Name: number_746, dtype: float64
number_429    1.000000
number_491    1.000000
number_738    0.983855
number_739    0.971401
number_740    0.952093
number_744    0.959662
number_747    1.000000
number_750    0.992359
number_751    0.989805
number_752    0.979847
Name: number_747, dtype: float64
number_491    1.000000
number_739    0.956403
number_740    0.955151
number_748    1.000000
number_749    0.976512
number_751    0.972351
number_752    0.979148
Name: number_748, dtype: float64
number_491    1.000000
number_748    0.976512
number_749    1.000000
number_752    0.965916
Name: number_749, dtype: float64
number_393    0.972512
number_429    1.000000
number_491    1.000000
number_738    0.990983
number_739    0.969836
number_744    0.984971
number_745    0.960643
number_747    0.992359
number_750    1.000000
number_751    0.989521
number_752    0.977473
Name: number_750, dtype: float64
number_429    1.000000
number_491    1.000000
number_738    0.980511
number_739    0.981048
number_740    0.967443
number_744    0.965412
number_745    0.953683
number_747    0.989805
number_748    0.972351
number_750    0.989521
number_751    1.000000
number_752    0.995917
Name: number_751, dtype: float64
number_429    1.000000
number_491    1.000000
number_738    0.968343
number_739    0.976972
number_740    0.972037
number_744    0.951163
number_747    0.979847
number_748    0.979148
number_749    0.965916
number_750    0.977473
number_751    0.995917
number_752    1.000000
Name: number_752, dtype: float64
number_227    1.0
number_429    1.0
number_491    1.0
line_id       1.0
Name: line_id, dtype: float64
set()

In [56]:
df.mean()

0    0.833333
1    1.222222
2   -2.941176
dtype: float64

In [71]:
#df.apply(lambda x: x.fillna(x.mean()), axis=0)
#df.fillna

df_X = df.copy()
df_X[2].value_counts().index[0]

#df_X[1].fillna( df_X[1].max(), inplace=True)
#df_X

 9.0     3
-11.0    2
-9.0     1
 5.0     1
-19.0    1
 19.0    1
-7.0     1
 1.0     1
-0.0     1
-27.0    1
-13.0    1
-16.0    1
-2.0     1
 13.0    1
Name: 2, dtype: int64

In [15]:
#train
argv = ['--train-csv', r'..\check_1_r\train.csv',
       '--model-dir', r'.',
       '--mode', 'regression']
print(' '.join(argv) )

--train-csv ..\check_1_r\train.csv --model-dir . --mode regression

In [73]:
#predict
argv = ['--test-csv', r'..\check_1_r\test.csv',
        '--prediction-csv', r'..\check_1_r\prediction.csv', 
       '--model-dir', r'.']
print(' '.join(argv) )

--test-csv ..\check_1_r\test.csv --prediction-csv ..\check_1_r\prediction.csv --model-dir .

In [74]:
#score
argv = ['--test-target-csv', r'..\check_1_r\test-target.csv',
       '--prediction-csv', r'..\check_1_r\h2o_prediction.csv']
print(' '.join(argv) )

--test-target-csv ..\check_1_r\test-target.csv --prediction-csv ..\check_1_r\h2o_prediction.csv

In [13]:
import pandas as pd
#from tpot import TPOTClassifier, TPOTRegressor
#tpotr = TPOTRegressor()
df = pd.read_csv(r'..\check_1_r\train.csv')
y = df['target']
df.drop('target', axis=1, inplace=True)
y

0       0.000000
1      30.231827
2       0.000000
3      22.756754
4      22.754865
5      35.725485
6      34.076809
7      35.375301
8       0.000000
9       0.000000
10     35.236054
11      0.000000
12     27.050834
13     23.877621
14     36.733070
15     23.095194
16      0.000000
17     34.536318
18     23.577308
19     28.221210
20     22.471579
21      0.000000
22      0.000000
23     30.841776
24     23.258035
25     27.700983
26     27.896595
27      0.000000
28      0.000000
29      0.000000
         ...
335     0.000000
336    37.056685
337     0.000000
338    32.887431
339     0.000000
340     0.000000
341     0.000000
342     0.000000
343    31.016927
344     0.000000
345    32.622056
346     0.000000
347    32.156582
348    46.424849
349    31.105351
350     0.000000
351    28.160398
352    34.064872
353     0.000000
354     0.000000
355    24.651068
356     0.000000
357    24.399321
358    31.774828
359     0.000000
360    28.864182
361    37.416868
362     0.000000
363    31.979840
364     0.000000
Name: target, Length: 365, dtype: float64

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.transform()

In [4]:
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
reg = GradientBoostingRegressor()
cls = GradientBoostingClassifier()
print( reg.get_params().keys() )
print()
print( cls.get_params().keys() )

dict_keys(['alpha', 'criterion', 'init', 'learning_rate', 'loss', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'presort', 'random_state', 'subsample', 'verbose', 'warm_start'])

dict_keys(['criterion', 'init', 'learning_rate', 'loss', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'presort', 'random_state', 'subsample', 'verbose', 'warm_start'])

In [8]:
from sklearn.model_selection import GridSearchCV
#?GridSearchCV
?GradientBoostingRegressor